@{
    ViewBag.Title = "Applicant Joining";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml";
}

@model Prp.Sln.ApplicantJoiningAdminModel
@section RenderCss{

}
@section RenderScript{

    <script>
        var typeId = 0;
        $(document).ready(function () {

            $(".spnTotal").html($("#hfdTotal").val());
            $(".spnTotalJoin").html($("#hfdJoin").val());


        });
    </script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Applicant List </h2>

            <div class="panel_toolbox">
                <h2>Total applicant : <span class="spnTotal"> </span>  &nbsp;&nbsp;&nbsp;</h2>
                <h2>Give Joinig : <span class="spnTotalJoin"> </span>  &nbsp;&nbsp;&nbsp;</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                @if (Model != null && (Model.listApplicant != null && Model.listApplicant.Count > 0))
                {
                    var total = 0; var join = 0; 

                    var sr = 0;

                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">Sr. </th>
                                <th class="column-title">Image </th>
                                <th class="column-title">Form No. </th>
                                <th class="column-title">Name </th>
                                <th class="column-title">Father Name </th>
                                <th class="column-title">PMDC No </th>
                                <th class="column-title">EmailId </th>
                                <th class="column-title">Contact Number </th>
                                <th class="column-title">Marks</th>
                                <th class="column-title">Hospital/Institute </th>
                                <th class="column-title">Program </th>
                                <th class="column-title">Speciality </th>
                                <th class="column-title">Quota </th>
                                <th class="column-title">Joining Status </th>
                                <th class="column-title">Joining Date </th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model.listApplicant)
                            {
                                sr = sr + 1;

                                <tr>
                                    <td>@sr</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + item.applicantId + "/" + item.pic)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + item.applicantId + "/" + item.pic)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                        </a>
                                    </td>
                                    <td>@item.applicantId</td>
                                    <td>@item.name</td>
                                    <td>@item.fatherName</td>
                                    <td>@item.pmdcNo</td>
                                    <td>@item.emailId</td>
                                    <td>@item.contactNumber</td>
                                    <td>@item.marks</td>
                                    <td>@item.hospitalName</td>
                                    <td>@item.typeName</td>
                                    <td>@item.specialityName</td>
                                    <td>@item.quotaName</td>
                                    @if (item.joiningId > 0)
                                    {
                                        <td>Joined</td>

                                        join = join + 1;
                                    }
                                    else
                                    {
                                        <td>Not Joined</td>
                                    }
                                    <td>@item.dateJoining</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <input id="hfdTotal" type="hidden" value="@(sr)" />
                    <input id="hfdJoin" type="hidden" value="@(join)" />
                }
            </div>
        </div>
    </div>
</div>