@{
    ViewBag.Title = "Applicant Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Prp.Sln.ProfileModel
@section RenderCss{

    <style>

        .sprq {
            color: #ff0000;
        }
    </style>

}
@section RenderScript{

    <script>

        var applicantId = 0, applicantDetailId = 0, objApplicant = {}, objAppInfo = {}, objEducation = {},
            imagesPath = "", provinceId = 0, instituteTypeId = 0, graduateTypeId = 0, graduateType = 0
            , degreeTypeId, noOfYears = 0
            , applicantDegreeDetailId = 0, specialityIdFCPS = 0, specialityIdMSMD = 0

        var objDegree = {}, objEducation = {}, objDegreeMarksList = [], objCertificateList = [];

        $(document).ready(function () {

            sessionStorage.setItem("applicantProfileStep", 12);
            applicantId = ConvertToInt($("#hfdApplicantId").val());
            imagesPath = "/Images/Applicant/" + applicantId + "/";

            $(".grd-foreign").hide();

            var dateFormatDatePocker = 'dd/mm/yyyy';
            var currentDate = new Date();
            var dobMinDate = currentDate;
            dobMinDate.setDate(dobMinDate.getDate() - 7300);

            $(".txtPassingDateType").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                endDate: new Date()
            });

            $(document).on('change', '#ddlProvince', function () {

                provinceId = ConvertToInt($(this).val());

                DDLSetToDefault("ddlInstitute", 'Select One', 0);

                BindInstituteDDL(0);

            });

            $(document).on('change', '#ddlInstituteType', function () {

                instituteTypeId = $(this).val();

                BindInstituteDDL(0);

            });

            $(document).on('click', '#chkForeignNational', function () {
                var status = $("#chkForeignNational").is(':checked');

                $(".grd-national").show();
                if (status == true) {
                    $(".grd-national").hide();
                }
            });

            $(document).on('click', '.chkType', function () {
                var status = $(this).is(':checked');

                var typeId = ConvertToInt($(this).attr("id").replace("chkType", ""));

                $(".fieldType" + typeId).hide();
                if (status == true) {
                    $(".fieldType" + typeId).show();
                }

            });

            $(document).on('click', '#chkFcpsExemption', function () {

                var status = $(this).is(':checked');
                $('#divFcpsExemptionCertificate').hide();

                if (status == true) {
                    $('#divFcpsExemptionCertificate').show();
                }

            });

            //

            $(document).on('change', '#ddlDisciplineId1', function () {

                var attrId = $(this).attr("id");

                var controlId = ConvertToInt(attrId.replace("ddlDisciplineId", ""));
                if (controlId == 1) {

                    var displineId = ConvertToInt($("#ddlDisciplineId1").val());
                    $("#fieldType0").hide();
                    if (displineId > 0) {
                        $("#chkType0").prop("checked", false);
                        $("#fieldType0").show();
                    }
                }
            });

            $(document).on('click', '#btnSaveEducation', function () {
                SaveAndProceed();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveAndProceed();
                }
            });

            GetApplicantInfo();
            GetApplicantEducationInfo();

        });

        function SaveAndProceed() {

            var isError = ValidateFormEducation();
            if (isError == false) {

                var resp = CallActionPost("/ApplicationAdmin/ApplicantEducationAddUpdate", objEducation);
                if (resp != null && resp.status == true) {
                    window.location = "/ad/applicant-education";
                }

            }

        }

        function ValidateFormEducation() {

            var isError = false, ctrl = "";
            objDegree = {}; objDegreeMarksList = [];

            $(".req-fld").removeClass("req-fld");

            objDegree.applicantDegreeDetailId = applicantDegreeDetailId;
            objDegree.applicantId = applicantId;


            objDegree.degreeTypeId = degreeTypeId;
            objDegree.degreeYear = noOfYears
            objDegree.instituteTypeId = ConvertToInt($("#ddlInstituteType").val());
            objDegree.instituteId = ConvertToInt($("#ddlInstitute").val());

            objDegree.provinceId = ConvertToInt($("#ddlProvince").val());

            objDegree.instituteName = "";

            if (objAppInfo.countryIdDegreePassing == 132) {

                objDegree.graduateTypeId = 1;
            }
            else {
                objDegree.graduateTypeId = 2;
                objDegree.instituteId = 0;
                objDegree.instituteName = ConvertToString($("#txtInstitueName").val());
            }

            if ($("#flDegree").val()) {
                objDegree.imageDegree = UploadImage("flDegree", applicantId, "Degree");
                $("#hfdDegree").val(objDegree.imageDegree);
            }
            objDegree.imageDegree = ConvertToString($("#hfdDegree").val());

            if ($("#flCertificate").val()) {
                objDegree.imageCertificate = UploadImage("flCertificate", applicantId, "Certificate");
                $("#hfdCertificate").val(objDegree.imageCertificate);
            }
            objDegree.imageCertificate = ConvertToString($("#hfdCertificate").val());


            if ($("#flMatric").val()) {
                objDegree.imageDegreeMatric = UploadImage("flMatric", applicantId, "Matric");
                $("#hfdMatric").val(objDegree.imageDegreeMatric);
            }
            objDegree.imageDegreeMatric = ConvertToString($("#hfdMatric").val());

            objDegreeMarksList = [];
            if (objDegree.graduateTypeId == 1) {


                for (var i = 1; i <= noOfYears; i++) {

                    var objDegreeMarks = {};
                    objDegreeMarks.degreeMarksId = ConvertToInt($("#hfdRowDegree" + i + "Id").val());
                    objDegreeMarks.applicantId = applicantId;
                    objDegreeMarks.year = i;
                    objDegreeMarks.obtainMarks = ConvertToInt($("#txtRowDegree" + i + "MarksObtain").val());
                    objDegreeMarks.totalMarks = ConvertToInt($("#txtRowDegree" + i + "MarksTotal").val());
                    objDegreeMarks.attempt = ConvertToInt($("#ddlRowDegree" + i + "Attempt").val());

                    objDegreeMarks.graduateTypeId = 1;

                    if ($("#flRowDegree" + i).val()) {
                        objDegreeMarks.imageDMC = UploadImage("flRowDegree" + i, applicantId, "DMCDegree" + i);
                        $("#hfdRowDegree" + i).val(objDegreeMarks.imageDMC);
                    }
                    objDegreeMarks.imageDMC = ConvertToString($("#hfdRowDegree" + i).val());


                    objDegreeMarksList.push(objDegreeMarks);
                }

                objDegree.totalMarks = 0;
                objDegree.obtainMarks = 0;
                objDegree.imageDegreeForeignFront = "";
                objDegree.imageDegreeForeignBack = "";
            }
            else if (objDegree.graduateTypeId == 2) {


                //Only for pakistani Students
                if (objAppInfo.countryId == 132 && objAppInfo.countryIdDegreePassing != 132) {

                    for (var i = 1; i <= 1; i++) {

                        var objDegreeMarks = {};
                        objDegreeMarks.degreeMarksId = ConvertToInt($("#hfdRowPMDC" + i + "Id").val());
                        objDegreeMarks.applicantId = applicantId;
                        objDegreeMarks.year = i;
                        objDegreeMarks.obtainMarks = 0;
                        objDegreeMarks.totalMarks = 0;
                        objDegreeMarks.graduateTypeId = 2;
                        objDegreeMarks.attempt = ConvertToInt($("#ddlRowPMDC" + i + "Attempt").val());

                        if ($("#flRowPMDC" + i).val()) {
                            objDegreeMarks.imageDMC = UploadImage("flRowPMDC" + i, applicantId, "DMCPMDC" + i);
                            $("#hfdRowPMDC" + i).val(objDegreeMarks.imageDMC);
                        }
                        objDegreeMarks.imageDMC = ConvertToString($("#hfdRowPMDC" + i).val());

                        objDegreeMarksList.push(objDegreeMarks);
                    }
                }

                objDegree.totalMarks = ConvertToInt($("#txtTotalMarksForeign").val());
                objDegree.obtainMarks = ConvertToInt($("#txtObtainMarksForeign").val());


                if ($("#flDMCForeignFront").val()) {
                    objDegree.imageDegreeForeignFront = UploadImage("flDMCForeignFront", applicantId, "DegreeDMCForeignFront");
                    $("#hfdDMCForeignFront").val(objDegree.imageDegreeForeignFront);
                }
                objDegree.imageDegreeForeignFront = ConvertToString($("#hfdDMCForeignFront").val());

                if ($("#flDMCForeignBack").val()) {
                    objDegree.imageDegreeForeignBack = UploadImage("flDMCForeignBack", applicantId, "DegreeDMCForeignBack");
                    $("#hfdDMCForeignBack").val(objDegree.imageDegreeForeignBack);
                }
                objDegree.imageDegreeForeignBack = ConvertToString($("#hfdDMCForeignBack").val());
            }





            objDegree.fcpsExemptionStatus = $("#chkFcpsExemption").is(':checked');
            objDegree.fcpsExemptionCertificate = "";
            if (objDegree.fcpsExemptionStatus == true) {

                if ($("#flFcpsExemption").val()) {
                    objDegree.fcpsExemptionCertificate = UploadImage("flFcpsExemption", applicantId, "FcpsExemption");
                    $("#hfdFcpsExemption").val(objDegree.fcpsExemptionCertificate);
                }
                objDegree.fcpsExemptionCertificate = ConvertToString($("#hfdFcpsExemption").val());

            }

            /*
            ***********************************************************************/
            var typeIdStart = 0, typeIdEnd = 0;
            if (objDegree.degreeTypeId == 1) {
                typeIdStart = 1;
                typeIdEnd = 3;
            } else {
                typeIdStart = 4;
                typeIdEnd = 5;
            }

            var typeIds = "";
            var typeIdList = [];
            objCertificateList = [];


            for (var i = typeIdStart; i <= typeIdEnd; i++) {

                var objCertificate = {};

                var typeStatus = $("#chkType" + i).is(':checked');

                if (typeStatus == true) {

                    typeIds = typeIds + "," + i;

                    var objType = {};
                    objType.typeId = i;
                    typeIdList.push(objType);

                    objCertificate.applicantCertificateTypeId = ConvertToInt($("#hfdTypeId" + i).val());
                    objCertificate.applicantId = applicantId;
                    objCertificate.typeId = i;
                    objCertificate.disciplineId = 0;

                    if (i == 5) {
                        objCertificate.obtainMarks = 75;
                        objCertificate.totalMarks = 100;
                    }
                    else if (i == 1) {
                        objCertificate.disciplineId = ConvertToInt($("#ddlDisciplineId" + i).val());
                        objCertificate.obtainMarks = 75;
                        objCertificate.totalMarks = 100;
                    }
                    else {

                        objCertificate.obtainMarks = ConvertToInt($("#txtObtainMarksType" + i).val());
                        objCertificate.totalMarks = ConvertToInt($("#txtTotalMarksType" + i).val());
                    }

                    objCertificate.datePassing = ConvertToString($("#txtPassingDateType" + i).val());
                    if ($("#flType" + i).val()) {
                        objCertificate.imageCertificate = UploadImage("flType" + i, applicantId, "type" + i);
                        $("#hfdType" + i).val(objCertificate.imageCertificate);
                    }
                    objCertificate.imageCertificate = ConvertToString($("#hfdType" + i).val());



                    objCertificateList.push(objCertificate);
                }
            }

            // For Optional FCPS (2nd FCPS Displine Optional)
            if (ConvertToInt($("#ddlDisciplineId0").val()) > 0) {

                var objCertificate = {};
                objCertificate.applicantCertificateTypeId = ConvertToInt($("#hfdTypeId0").val());
                objCertificate.applicantId = applicantId;
                objCertificate.typeId = 1;
                objCertificate.disciplineId = ConvertToInt($("#ddlDisciplineId0").val());
                objCertificate.obtainMarks = 75;
                objCertificate.totalMarks = 100;

                objCertificate.datePassing = ConvertToString($("#txtPassingDateType0").val());
                if ($("#flType0").val()) {
                    objCertificate.imageCertificate = UploadImage("flType0", applicantId, "type0");
                    $("#hfdType0").val(objCertificate.imageCertificate);
                }
                objCertificate.imageCertificate = ConvertToString($("#hfdType0").val());

                objCertificateList.push(objCertificate);

            }

            objDegree.typeIds = typeIds;

            /* Check Validation
            ***********************************************************************/

            if (objDegree.graduateTypeId == 1) {

                if (objDegree.instituteTypeId == 0) {
                    $("#ddlInstituteType").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "ddlInstituteType";
                }


                if (objDegree.instituteId == 0) {
                    $("#ddlInstitute").addClass("req-fld");
                    $("#ddlInstitute_chosen").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "ddlInstitute";
                }
                //else if (objDegree.instituteTypeId == 1 && objDegree.instituteId == -1) {
                //    if (objDegree.instituteName == "") {
                //        $("#txtInstitueName").addClass("req-fld");
                //        isError = true;
                //        if (ctrl == "")
                //            ctrl = "txtInstitueName";
                //    }
                //}
                //else if (objDegree.instituteTypeId == 2) {
                //    if (objDegree.instituteName == "") {
                //        $("#txtInstitueName").addClass("req-fld");
                //        isError = true;
                //        if (ctrl == "")
                //            ctrl = "txtInstitueName";
                //    }
                //}

                var ctrlLoop = "";

                //var totalYear = noOfYears;
                //if (objDegree.degreeTypeId == 1) {
                //    totalYear = 5;
                //} else {
                //    totalYear = 4;
                //}

                for (var i = 1; i <= noOfYears; i++) {

                    var objDegreeMarks = objDegreeMarksList[i - 1];

                    if (objDegreeMarks.obtainMarks == 0) {
                        ctrlLoop = "txtRowDegree" + i + "MarksObtain";
                        $("#" + ctrlLoop).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = ctrlLoop;
                    }

                    if (objDegreeMarks.totalMarks == 0) {
                        ctrlLoop = "txtRowDegree" + i + "MarksTotal";
                        $("#" + ctrlLoop).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = ctrlLoop;
                    }

                    if (objDegreeMarks.obtainMarks > objDegreeMarks.totalMarks) {
                        isError = true;

                        $("#" + "txtRowDegree" + i + "MarksTotal").addClass("req-fld");
                        $("#" + "txtRowDegree" + i + "MarksObtain").addClass("req-fld");


                        alert("Obtained marks greater then total marks in year " + i + ". Please enter valid marks");

                    }

                    if (objDegreeMarks.attempt == 0) {
                        ctrlLoop = "ddlRowDegree" + i + "Attempt";
                        $("#" + ctrlLoop).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = ctrlLoop;
                    }

                    if (objDegreeMarks.imageDMC == 0) {
                        ctrlLoop = "flRowDegree" + i;
                        $("#" + ctrlLoop).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = ctrlLoop;
                    }
                }
            }
            else if (objDegree.graduateTypeId == 2) {

                //Only for pakistani Students
                if (objAppInfo.countryId == 132 && objAppInfo.countryIdDegreePassing != 132) {

                    var ctrlLoop = "";
                    for (var i = 1; i <= 1; i++) {

                        var objDegreeMarks = objDegreeMarksList[i - 1];

                        if (objDegreeMarks.attempt == 0) {
                            ctrlLoop = "ddlRowPMDC" + i + "Attempt";
                            $("#" + ctrlLoop).addClass("req-fld");
                            isError = true;
                            if (ctrl == "")
                                ctrl = ctrlLoop;
                        }

                        if (objDegreeMarks.imageDMC == 0) {
                            ctrlLoop = "flRowPMDC" + i;
                            $("#" + ctrlLoop).addClass("req-fld");
                            isError = true;
                            if (ctrl == "")
                                ctrl = ctrlLoop;
                        }
                    }
                }

                if (objDegree.totalMarks == 0) {
                    $("#txtTotalMarksForeign").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtTotalMarksForeign";
                }

                if (objDegree.obtainMarks == 0) {
                    $("#txtObtainMarksForeign").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtObtainMarksForeign";
                }

                if (objDegree.obtainMarks > objDegree.totalMarks) {
                    isError = true;
                    alert("Obtain marks greater then total marks in degree. Please enter valid marks");

                    $("#txtObtainMarksForeign").addClass("req-fld");
                    $("#txtObtainMarksForeign").addClass("req-fld");
                }

                if (objDegree.imageDegreeForeignFront == "") {
                    $("#flDMCForeignFront").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flDMCForeignFront";
                }

                if (objDegree.imageDegreeForeignBack == "") {
                    $("#flDMCForeignBack").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flDMCForeignBack";
                }

                //if (objDegree.certificatePMDC == "") {
                //    $("#flPMDCCertificate").addClass("req-fld");
                //    isError = true;
                //    if (ctrl == "")
                //        ctrl = "flPMDCCertificate";
                //}

            }

            if (objDegree.imageDegree == "") {
                $("#flDegree").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flDegree";
            }

            if (objDegree.imageCertificate == "") {
                $("#flCertificate").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flCertificate";
            }

            if (objDegree.imageDegreeMatric == "") {
                $("#flMatric").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flMatric";
            }


            var objType = {};
            for (var i = 0; i < typeIdList.length; i++) {

                var typeId = ConvertToInt(typeIdList[i].typeId);

                objType = $.grep(objCertificateList, function (n, i) {
                    return n.typeId == typeId;
                })[0];

                if (typeId == 2 || typeId == 3 || typeId == 4) {

                    if (objType.obtainMarks == 0) {

                        $("#txtObtainMarksType" + typeId).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "#txtObtainMarksType" + typeId;
                    }

                    if (objType.totalMarks == "") {

                        $("#txtTotalMarksType" + typeId).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "#txtTotalMarksType" + typeId;
                    }

                    if (objType.obtainMarks > objType.totalMarks) {

                        isError = true;
                        var typeName = "";
                        if (typeId == 1)
                            typeName = "FCPS";
                        else if (typeId == 2)
                            typeName = "MS";
                        else if (typeId == 3)
                            typeName = "MD";
                        else if (typeId == 4)
                            typeName = "MSD";
                        else if (typeId == 5)
                            typeName = "FCPS-D";

                        alert("Obtain marks greater then total marks in " + typeName + ". Please enter valid marks");

                        $("#txtTotalMarksType" + typeId).addClass("req-fld");
                        $("#txtObtainMarksType" + typeId).addClass("req-fld");

                    }

                }

                else if (typeId == 1) {

                    if (objType.disciplineId == 0) {
                        $("#ddlDisciplineId" + i).addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "#ddlDisciplineId" + i;
                    }
                }

                if (objType.datePassing == "") {
                    $("#txtPassingDateType" + typeId).addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "#txtPassingDateType" + typeId;
                }

                if (objType.imageCertificate == "") {
                    $("#flType" + typeId).addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flType" + typeId;
                }

            }

            try {

                objType = $.grep(objCertificateList, function (n, i) {
                    return n.typeId == 1;
                })[1];

                if (objType != null && objType.typeId > 0) {


                    if (objType.disciplineId == 0) {
                        $("#ddlDisciplineId0").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "#ddlDisciplineId0";
                    }

                    if (objType.datePassing == "") {
                        $("#txtPassingDateType0").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "#txtPassingDateType0";
                    }

                    if (objType.imageCertificate == "") {
                        $("#flType0").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "flType0";
                    }
                }

            } catch (e) {

            }

            if (objDegree.fcpsExemptionStatus == true && objDegree.fcpsExemptionCertificate == "") {

                $("#flFcpsExemption").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flFcpsExemption";
            }

            if (ctrl != "")
                $("#" + ctrl).focus();


            objEducation = {};
            objEducation.applicantDegree = objDegree;
            objEducation.listDegreeMarks = objDegreeMarksList;
            objEducation.listCertificate = objCertificateList;


            if (objCertificateList == null || objCertificateList.length == 0) {
                isError = true;

                alert("Please select minimum one certification (FCPS,MS/MD, MSD)");
            }


            return isError;
        }

        function GetApplicantInfo() {

            var resp = CallActionGet("/ApplicantProfile/GetApplicantInfo?applicantId=" + applicantId);

            if (resp != null && resp.applicantId > 0) {
                objApplicant = resp;
            }
        }

        function GetApplicantEducationInfo() {


            $("#ddlDegree").attr("disabled", "disabled");

            objAppInfo = CallActionGet("/ApplicantProfile/GetApplicantInfoDetail?applicantId=" + applicantId);

            var respEdu = CallActionGet("/ApplicantProfile/GetApplicantEducationData?applicantId=" + applicantId);
            if (respEdu != null) {

                if (respEdu.applicantDegree != null && respEdu.applicantDegree.applicantDegreeDetailId > 0) {

                    objDegree = respEdu.applicantDegree;
                    objDegreeMarksList = respEdu.listDegreeMarks;
                    objCertificateList = respEdu.listCertificate;
                    BindPenelEducation();
                }

            }

        }

        function BindPenelEducation() {

            $("#txtNationality").val(objAppInfo.countryName);
            $("#txtGraduate").val(objAppInfo.countryDegreePassing);

            applicantDegreeDetailId = objDegree.applicantDegreeDetailId;


            instituteTypeId = objDegree.instituteTypeId;

            if (objAppInfo.countryId == 132 && objDegree.provinceId == 0) {
                objDegree.provinceId = 196;
            }

            provinceId = objDegree.provinceId;
            degreeTypeId = objDegree.degreeTypeId;
            noOfYears = objDegree.degreeYear;

            $("#ddlProvince").val(provinceId);
            $("#txtDegree").val(objDegree.degree);

            if (degreeTypeId == 1) {
                if (noOfYears > 4)
                    $("#rowDegree5").show();
                else
                    $("#rowDegree5").hide();
            }
            else {
                $("#rowDegree5").hide();
            }

            $("#txtDuration").val(noOfYears);


            CertificateHideShow(degreeTypeId);


            BindInstituteDDL(objDegree.instituteId);

            $("#hfdDegree").val(objDegree.imageDegree);
            if (objDegree.imageDegree != "") {
                $('#imgDegree').attr('src', imagesPath + objDegree.imageDegree);
                $('#imgDegree').show();
                $('#rmvDegree').show();
            }

            $("#hfdCertificate").val(objDegree.imageCertificate);
            if (objDegree.imageCertificate != "") {
                $('#imgCertificate').attr('src', imagesPath + objDegree.imageCertificate);
                $('#imgCertificate').show();
                $('#rmvCertificate').show();
            }

            $("#hfdMatric").val(objDegree.imageDegreeMatric);
            if (objDegree.imageDegreeMatric != "") {
                $('#imgMatric').attr('src', imagesPath + objDegree.imageDegreeMatric);
                $('#imgMatric').show();
                $('#rmvMatric').show();
            }

            debugger;
            $("#chkFcpsExemption").prop("checked", false);

            $("#hfdFcpsExemption").val("");

            if (objDegree.fcpsExemptionStatus == true) {

                $('#divFcpsExemptionCertificate').show();

                $("#chkFcpsExemption").prop("checked", true);
                $("#hfdFcpsExemption").val(objDegree.fcpsExemptionCertificate);

                $('#imgFcpsExemption').attr('src', imagesPath + objDegree.fcpsExemptionCertificate);
                $('#imgFcpsExemption').show();
                $('#rmvFcpsExemption').show();

            }


            if (objDegree.graduateTypeId == 1) {

                $("#txtGraduation").val("Local");
                $(".grd-local").show();
                $(".grd-foreign").hide();

                $("#ddlInstituteType").val(objDegree.instituteTypeId);
                $("#txtInstitueName").val("");
                //$("#divTxtInstituteName").hide();


                BindInstituteDDL(objDegree.instituteId);

                //if (objDegree.instituteTypeId > 1) {
                //    // private institute
                //    $("#txtInstitueName").val(objDegree.instituteName);
                //    $("#divTxtInstituteName").show();
                //}
                //else {
                //    // Govt institut

                //    $("#ddlInstitute").val(objDegree.instituteId);


                //    $("#divDDlInstitute").show();

                //    if (objDegree.instituteId == -1) {
                //        $("#txtInstitueName").val(objDegree.instituteName);
                //        $("#divTxtInstituteName").show();
                //    }


                //}
                //noOfYears
                //for (var i = 1; i <= objDegreeMarksList.length; i++) {
                for (var i = 1; i <= noOfYears; i++) {
                    var objDegreeMarks = objDegreeMarksList[i - 1];

                    $("#hfdRowDegree" + i + "Id").val(objDegreeMarks.degreeMarksId);
                    $("#txtRowDegree" + i + "MarksObtain").val(objDegreeMarks.obtainMarks);
                    $("#txtRowDegree" + i + "MarksTotal").val(objDegreeMarks.totalMarks);
                    $("#ddlRowDegree" + i + "Attempt").val(objDegreeMarks.attempt);


                    $("#hfdRowDegree" + i).val(objDegreeMarks.imageDMC);
                    if (objDegreeMarks.imageDMC != "") {
                        $("#imgRowDegree" + i).attr('src', imagesPath + objDegreeMarks.imageDMC);
                        $("#imgRowDegree" + i).show();

                        $("#rmvRowDegree" + i).show();
                    }

                }
            }
            else if (objDegree.graduateTypeId == 2) {


                $("#txtGraduation").val("Foreign");
                $(".grd-local").hide();
                $(".grd-foreign").show();

                $(".grd-national").hide();

                $("#rbtnGraduateForeign").attr("checked", "checked");

                if (objAppInfo.countryId == 132 && objAppInfo.countryIdDegreePassing != 132) {

                    $(".grd-national").show();

                    for (var i = 1; i <= objDegreeMarksList.length; i++) {

                        var objDegreeMarks = objDegreeMarksList[i - 1];

                        $("#hfdRowPMDC" + i + "Id").val(objDegreeMarks.degreeMarksId);

                        $("#ddlRowPMDC" + i + "Attempt").val(objDegreeMarks.attempt);


                        $("#hfdRowPMDC" + i).val(objDegreeMarks.imageDMC);
                        if (objDegreeMarks.imageDMC != "") {
                            $("#imgRowPMDC" + i).attr('src', imagesPath + objDegreeMarks.imageDMC);
                            $("#imgRowPMDC" + i).show();

                            $("#imgRowPMDC" + i).show();
                        }

                    }
                }

                $("#txtTotalMarksForeign").val(objDegree.totalMarks);
                $("#txtObtainMarksForeign").val(objDegree.obtainMarks);
                $("#hfdDMCForeignFront").val(objDegree.imageDegreeForeignFront);

                if (objDegree.imageDegreeForeignFront != "") {

                    $('#imgDMCForeignFront').attr('src', imagesPath + objDegree.imageDegreeForeignFront);
                    $('#imgDMCForeignFront').show();

                    $("#rmvDMCForeignFront").show();
                }

                $("#hfdDMCForeignBack").val(objDegree.imageDegreeForeignBack);
                if (objDegree.imageDegreeForeignBack != "") {

                    $('#imgDMCForeignBack').attr('src', imagesPath + objDegree.imageDegreeForeignBack);
                    $('#imgDMCForeignBack').show();
                    $("#rmvDMCForeignBack").show();
                }


                //if ($("#hfdPMDCCertificate").val(objDegree.certificatePMDC)) {

                //    objDegree.certificatePMDC = UploadImage("flPMDCCertificate", applicantId, "PMDCCertificate");
                //    $("#hfdPMDCCertificate").val(objDegree.certificatePMDC);
                //}
                //objDegree.certificatePMDC = ConvertToString($("#hfdPMDCCertificate").val());

            }

            var typeIdStart = 0, typeIdEnd = 0;
            if (objDegree.degreeTypeId == 1) {
                typeIdStart = 1;
                typeIdEnd = 3;
            } else {
                typeIdStart = 4;
                typeIdEnd = 5;
            }

            $(".chkType").prop("checked", false);

            $(".txtObtainMarksType").val("");
            $(".txtTotalMarksType").val("");
            $(".txtPassingDateType").val("");
            $(".hfdType").val("");
            $(".imgType").hide();
            $(".rmvType").hide();

            $(".hfdTypeId").val(0);

            var fcpsCount = 0;
            var fcpsCertificateList = [];

            if (objCertificateList != null && objCertificateList.length > 0) {

                fcpsCertificateList = $.grep(objCertificateList, function (n, k) {
                    return n.typeId == 1;
                });

                for (var i = typeIdStart; i <= typeIdEnd; i++) {

                    var objCerttificate = {};

                    if (i == 1) {

                        objCerttificate = $.grep(fcpsCertificateList, function (n, k) {
                            return n.typeId == i;
                        })[0];
                    }
                    else {

                        objCerttificate = $.grep(objCertificateList, function (n, k) {
                            return n.typeId == i;
                        })[0];
                    }

                    if (objCerttificate != null && objCerttificate.applicantCertificateTypeId > 0) {

                        if (i == 1) {
                            fcpsCount = fcpsCount + 1;
                        }

                        $("#hfdTypeId" + i).val(objCerttificate.applicantCertificateTypeId);
                        $("#fieldType" + i).show();
                        $(".fieldType" + i).show();
                        $("#chkType" + i).prop("checked", true);

                        if (objCerttificate.imageCertificate != "") {
                            $('#imgType' + i).attr('src', imagesPath + objCerttificate.imageCertificate);
                            $('#imgType' + i).show();
                            $('#rmvType' + i).show();
                            $("#hfdType" + i).val(objCerttificate.imageCertificate);
                        }

                        $("#txtPassingDateType" + i).val(ToDateFormatDDMMYYYWithSlash(JsonToDate(objCerttificate.passingDate)));

                        if (objCerttificate.typeId == 2 || objCerttificate.typeId == 3 || objCerttificate.typeId == 4) {
                            $("#txtObtainMarksType" + i).val(objCerttificate.obtainMarks);
                            $("#txtTotalMarksType" + i).val(objCerttificate.totalMarks);
                        }
                        else if (objCerttificate.typeId == 1)
                            $("#ddlDisciplineId" + i).val(objCerttificate.disciplineId);
                    }
                }

                // already bind FCPS panel and check has more
                if (fcpsCertificateList != null && fcpsCertificateList.length > 1) {

                    //$("#chkType0").prop("checked", true);
                    $("#fieldType0").show();

                    objCerttificate = $.grep(fcpsCertificateList, function (n, k) {
                        return n.typeId == 1;
                    })[1];

                    var displineId = ConvertToInt($("#ddlDisciplineId1").val());
                    if (displineId > 0 && objCerttificate != null && objCerttificate.typeId > 0) {

                        $("#chkType0").prop("checked", true);
                        $("#fieldType0").show();

                        $("#hfdTypeId0").val(objCerttificate.applicantCertificateTypeId);
                        $("#fieldType0").show();
                        $("#txtPassingDateType0").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(objCerttificate.passingDate)));
                        $("#ddlDisciplineId0").val(objCerttificate.disciplineId);

                        if (objCerttificate.imageCertificate != "") {
                            $('#imgType0').attr('src', imagesPath + objCerttificate.imageCertificate);
                            $('#imgType0').show();
                            $('#rmvType0').show();
                            $("#hfdType0").val(objCerttificate.imageCertificate);
                        }

                    }

                }
                else if (fcpsCertificateList != null && fcpsCertificateList.length > 0) {
                    //$("#chkType0").prop("checked", true);
                    $("#fieldType0").show();
                }
            }
            else {
                CertificateHideShow(objDegree.degreeTypeId);
            }

        }

        function BindInstituteDDL(instituteId) {

            var obj = {};
            obj.condition = 'GetInstituteByTypeAndProvince';
            obj.reffId = provinceId;
            obj.typeId = instituteTypeId;

            $("#ddlInstitute").empty();


            if (provinceId > 0 && instituteTypeId > 0) {

                var list = CallActionPost("/Common/InstituteGetForDDL", obj);

                if (list != null && list.length > 0) {

                    var ddlItem = {};
                    for (var i = 0; i < list.length; i++) {
                        ddlItem = list[i];

                        $("#ddlInstitute").append("<option  value='" + ddlItem.id + "'>" + ddlItem.value + "</option>");
                    }

                    $("#ddlInstitute").val(instituteId);
                }
            }

            $("#ddlInstitute").trigger("chosen:updated");
        }

        function CertificateHideShow(degreeTypeId) {


            $(".fieldType").hide();
            if (degreeTypeId == 1) {
                $("#fieldType1").show();
                $("#fieldType2").show();
                $("#fieldType3").show();

                $(".fieldType1").hide();
                $(".fieldType2").hide();
                $(".fieldType3").hide();


            } else {

                $("#fieldType4").show();
                $("#fieldType5").show();

                $(".fieldType4").hide();
                $(".fieldType5").hide();
            }
        }

    </script>

}
<div class="container">
    <div class="row main">
        @Html.Partial("_ApplicationUpdateLinks")
        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center">Education : Step 2 of 6  <span class="lightgray"></span></h3>
                        <form role="form">
                            <fieldset>
                                <legend>Degree: </legend>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Nationality </label>
                                            <input id="txtNationality" name="txtNationality" class="form-control lenth" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Graduate Country </label>
                                            <input id="txtGraduate" name="txtGraduate" class="form-control lenth" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label> Graduation </label>
                                            <input id="txtGraduation" name="txtGraduation" class="form-control lenth" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label> Degree </label>
                                            <input id="txtDegree" name="txtDegree" class="form-control lenth" disabled />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label> Duration </label>
                                            <input id="txtDuration" name="txtDuration" class="form-control lenth" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 grd-local">
                                        <div class="form-group">
                                            <label> Province <span class="sprq">*</span></label>
                                            <select class="form-control" required="" name="ddlProvince" id="ddlProvince">
                                                @foreach (var u in Model.listProvince)
                                                {
                                                    <option value="@u.regionId"> @u.name </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 grd-local">
                                        <div class="form-group">
                                            <label>Institute Type <span class="sprq">*</span></label>
                                            <select id="ddlInstituteType" name="ddlInstituteType" class="form-control  reqfd" tabindex="1">
                                                @foreach (var u in Model.listInstituteType)
                                                {
                                                    <option value="@u.id"> @u.name </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 grd-local">
                                        <div class="form-group">
                                            <label> Institute <span class="sprq">*</span></label>
                                            <select id="ddlInstitute" name="ddlInstitute" class="form-control chosen-select" tabindex="1">
                                                <option value="0" selected="selected"> Select One </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 grd-foreign">
                                        <div class="form-group">
                                            <label> Institute Name <span class="sprq">*</span></label>
                                            <input id="txtInstitueName" name="txtInstitueName" class="form-control lenth" len="250" />
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="grd-local">
                                <legend>Yearly Marks:</legend>
                                <div class="row">
                                    <div class="col-md-12 " style="padding: 20px 10px; display: none;"> For marks conversion criteria <a href="#">Click Here</a></div>
                                </div>
                                <div class="row col-md-12  ">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Year </th>
                                                <th>Obtained Marks <span class="sprq">*</span></th>
                                                <th>Total Marks <span class="sprq">*</span></th>
                                                <th>Attempt <span class="sprq">*</span></th>
                                                <th>DMC Image <span class="sprq">*</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="rowDegree1">
                                                <td style="width:5%;"> 1  <input type="hidden" id="hfdRowDegree1Id" value="0" /></td>
                                                <td style="width:20%;"> <input class="form-control numeric" type="text" id="txtRowDegree1MarksObtain" len="4"> </td>
                                                <td style="width:20%;"> <input type="text" class="form-control numeric" id="txtRowDegree1MarksTotal" len="4"> </td>
                                                <td style="width:20%;">
                                                    <select class="form-control" id="ddlRowDegree1Attempt">
                                                        <option value="1"> 1st</option>
                                                        <option value="2"> 2nd or more</option>
                                                    </select>
                                                </td>
                                                <td style="width:35%;">
                                                    <input type="file" id="flRowDegree1" class="form-control flup" tabindex="2">
                                                    <input type="hidden" id="hfdRowDegree1" value="" />
                                                    <img id="imgRowDegree1" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree1" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr id="rowDegree2">
                                                <td style="width:5%;"> 2  <input type="hidden" id="hfdRowDegree2Id" value="0" /></td>
                                                <td style="width:20%;"> <input class="form-control numeric" type="text" id="txtRowDegree2MarksObtain" len="4"> </td>
                                                <td style="width:20%;"> <input type="text" class="form-control numeric" id="txtRowDegree2MarksTotal" len="4"> </td>
                                                <td style="width:20%;">
                                                    <select class="form-control" id="ddlRowDegree2Attempt">
                                                        <option value="1"> 1st</option>
                                                        <option value="2"> 2nd or more</option>
                                                    </select>
                                                </td>
                                                <td style="width:35%;">
                                                    <input type="file" id="flRowDegree2" class="form-control flup" tabindex="2">
                                                    <input type="hidden" id="hfdRowDegree2" value="" />
                                                    <img id="imgRowDegree2" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree2" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr id="rowDegree3">
                                                <td style="width:5%;"> 3  <input type="hidden" id="hfdRowDegree3Id" value="0" /></td>
                                                <td style="width:20%;"> <input class="form-control numeric" type="text" id="txtRowDegree3MarksObtain" len="4"> </td>
                                                <td style="width:20%;"> <input type="text" class="form-control numeric" id="txtRowDegree3MarksTotal" len="4"> </td>
                                                <td style="width:20%;">
                                                    <select class="form-control" id="ddlRowDegree3Attempt">
                                                        <option value="1"> 1st</option>
                                                        <option value="2"> 2nd or more</option>
                                                    </select>
                                                </td>
                                                <td style="width:35%;">
                                                    <input type="file" id="flRowDegree3" class="form-control flup" tabindex="2">
                                                    <input type="hidden" id="hfdRowDegree3" value="" />
                                                    <img id="imgRowDegree3" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree3" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr id="rowDegree4">
                                                <td style="width:5%;"> 4  <input type="hidden" id="hfdRowDegree4Id" value="0" /></td>
                                                <td style="width:20%;"> <input class="form-control numeric" type="text" id="txtRowDegree4MarksObtain" len="4"> </td>
                                                <td style="width:20%;"> <input type="text" class="form-control numeric" id="txtRowDegree4MarksTotal" len="4"> </td>
                                                <td style="width:20%;">
                                                    <select class="form-control" id="ddlRowDegree4Attempt">
                                                        <option value="1"> 1st</option>
                                                        <option value="2"> 2nd or more</option>
                                                    </select>
                                                </td>
                                                <td style="width:35%;">
                                                    <input type="file" id="flRowDegree4" class="form-control flup" tabindex="2">
                                                    <input type="hidden" id="hfdRowDegree4" value="" />
                                                    <img id="imgRowDegree4" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree4" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </td>
                                            </tr>
                                            <tr id="rowDegree5">
                                                <td style="width:5%;"> 5  <input type="hidden" id="hfdRowDegree5Id" value="0" /></td>
                                                <td style="width:20%;"> <input class="form-control numeric" type="text" id="txtRowDegree5MarksObtain" len="4"> </td>
                                                <td style="width:20%;"> <input type="text" class="form-control numeric" id="txtRowDegree5MarksTotal" len="4"> </td>
                                                <td style="width:20%;">
                                                    <select class="form-control" id="ddlRowDegree5Attempt">
                                                        <option value="1"> 1st</option>
                                                        <option value="2"> 2nd or more</option>
                                                    </select>
                                                </td>
                                                <td style="width:20%;">
                                                    <input type="file" id="flRowDegree5" class="form-control flup" tabindex="2">
                                                    <input type="hidden" id="hfdRowDegree5" value="" />
                                                    <img id="imgRowDegree5" class="flup-img" src="" alt="" style="display:none;" />
                                                    <a id="rmvRowDegree5" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="grd-foreign" style="display:none">
                                <legend>Foreign Degree:</legend>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr>
                                        <p> Please confirm that the marks entered in both Obtained Marks and Total Marks. </p><hr>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Obtained Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtObtainMarksForeign" id="txtObtainMarksForeign" class="form-control numeric" len="5">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> Total Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtTotalMarksForeign" id="txtTotalMarksForeign" class="form-control numeric" len="5">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> DMC Front Image <span class="sprq">*</span></label>
                                            <input type="file" id="flDMCForeignFront" class="form-control flup" tabindex="1">
                                            <input type="hidden" id="hfdDMCForeignFront" value="" />
                                            <img id="imgDMCForeignFront" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvDMCForeignFront" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> DMC Back Side Image <span class="sprq">*</span></label>
                                            <input type="file" id="flDMCForeignBack" class="form-control flup" tabindex="1">
                                            <input type="hidden" id="hfdDMCForeignBack" value="" />
                                            <img id="imgDMCForeignBack" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvDMCForeignBack" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="grd-foreign grd-national" style="display:none">
                                <legend>Attemps:</legend>
                                @*Foreign DMC End*@
                                <div class="row " style="display:none;">
                                    <div class="col-md-12" style="padding: 20px 15px; ">
                                        <label style="word-wrap: break-word; line-height: 16px; float: left;" for="chkForeignNational">
                                            <input type="checkbox" name="checkbox" id="chkForeignNational" value="Foriegn_National" style="float: left;margin: 0px 5px;height: 18px;width: 20px;">
                                            Foreign National ( Only for Foreign Nationals. If you are Pakistani Citizen, please do not select this option)
                                        </label>
                                    </div>
                                </div>
                                @*Foreign national End*@

                                <div class="col-md-12 grd-foreign">
                                    <hr>
                                    <p> Passed the NEB exam in single sitting, then it will be scored. </p><hr>
                                </div>
                                <table class="table grd-foreign">

                                    <thead>
                                        <tr><th>Attempt(NEB Exam) <span class="sprq">*</span></th><th>PMDC  Result <span class="sprq">*</span></th> </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="rowPMDC1">
                                            <td>
                                                <input type="hidden" id="hfdRowPMDC1Id" value="0" />
                                                <select class="form-control" name="ddlRowPMDC1Attempt" id="ddlRowPMDC1Attempt">
                                                    <option value="1"> 1st</option>
                                                    <option value="2"> 2nd</option>
                                                    <option value="3"> 3rd</option>
                                                    <option value="4"> 4th or more</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="file" id="flRowPMDC1" class="form-control flup" tabindex="2">
                                                <input type="hidden" id="hfdRowPMDC1" value="" />
                                                <img id="imgRowPMDC1" class="flup-img" src="" alt="" style="display:none;" />
                                                <a id="rmvRowPMDC1" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                            </td>
                                        </tr>
                                        <tr id="rowPMDC2" style="display:none;">
                                            <td> 2  <input type="hidden" id="hfdRowPMDC2Id" value="0" /></td>
                                            <td>
                                                <select class="form-control" name="ddlRowPMDC2Attempt" id="ddlRowPMDC2Attempt">
                                                    <option value="1"> 1st</option>
                                                    <option value="2"> 2nd</option>
                                                    <option value="3"> 3rd</option>
                                                    <option value="2"> 4th or more</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="file" id="flRowPMDC2" class="form-control flup" tabindex="2">
                                                <input type="hidden" id="hfdRowPMDC2" value="" />
                                                <img id="imgRowPMDC2" class="flup-img" src="" alt="" style="display:none;" />
                                                <a id="rmvRowPMDC2" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                            </td>
                                        </tr>
                                        <tr id="rowPMDC3" style="display:none;">
                                            <td> 3  <input type="hidden" id="hfdRowPMDC3Id" value="0" /></td>
                                            <td>
                                                <select class="form-control" name="ddlRowPMDC3Attempt" id="ddlRowPMDC3Attempt">
                                                    <option value="1"> 1st</option>
                                                    <option value="2"> 2nd</option>
                                                    <option value="3"> 3rd</option>
                                                    <option value="2"> 4th or more</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="file" id="flRowPMDC3" class="form-control flup" tabindex="2">
                                                <input type="hidden" id="hfdRowPMDC3" value="" />
                                                <img id="imgRowPMDC3" class="flup-img" src="" alt="" style="display:none;" />
                                                <a id="rmvRowPMDC3" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row" style="padding:5px 10px; display:none; ">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> PMC Certificate <span class="sprq">*</span></label>
                                            <input type="file" id="flPMDCCertificate" class="form-control flup" tabindex="2">
                                            <input type="hidden" id="hfdCertificate" value="" />
                                            <img id="imgPMDCCertificate" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvPMDCCertificate" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Certificates:</legend>
                                <div class="row" style="padding:5px 10px; ">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Attempt Certificate <span class="sprq">*</span></label>
                                            <input type="file" id="flCertificate" class="form-control flup" tabindex="2">
                                            <input type="hidden" id="hfdCertificate" value="" />
                                            <img id="imgCertificate" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvCertificate" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Matric DMC Image <span class="sprq">*</span></label>
                                            <input type="file" id="flMatric" class="form-control flup" tabindex="2">
                                            <input type="hidden" id="hfdMatric" value="" />
                                            <img id="imgMatric" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvMatric" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> MBBS/BDS Degree Image <span class="sprq">*</span></label>
                                            <input type="file" id="flDegree" class="form-control flup" tabindex="2">
                                            <input type="hidden" id="hfdDegree" value="" />
                                            <img id="imgDegree" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvDegree" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset id="fieldFcpsExemption">
                                <legend> <label> <input id="chkFcpsExemption" type="checkbox" class="" /> Part -1 FCPS Exemption: </label></legend>
                                <div id="divFcpsExemptionCertificate" class="row col-md-12 " style="display:none;">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Fcps Exemption Certificate <span class="sprq">*</span></label>
                                            <input type="file" id="flFcpsExemption" class="form-control flup" tabindex="2">
                                            <input type="hidden" id="hfdFcpsExemption" value="" class="" />
                                            <img id="imgFcpsExemption" class="flup-img" src="" alt="" style="display:none;" />
                                            <a id="rmvFcpsExemption" class="removeImage" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            @*Certificates Start*@
                            <fieldset id="fieldType1" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType1" type="checkbox" class="chkType" disabled="disabled" /> Part -1 FCPS Marks: </label></legend>
                                <input type="hidden" id="hfdTypeId1" class="hfdTypeId" value="" />
                                <div class="row col-md-12 " style="display:none;">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Obtained Marks * </label>
                                            <input type="text" name="txtObtainMarksType1" id="txtObtainMarksType1" class="form-control txtObtainMarksType" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Total Marks *</label>
                                            <input type="text" name="txtTotalMarksType1" id="txtTotalMarksType1" class="form-control" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType1">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Discipline</label>
                                            @{
                                                var listDisciplineFCPS = Model.listDiscipline.Where(x => x.typeId == 1).OrderBy(x => x.name).ToList();
                                                <select id="ddlDisciplineId1" class="form-control ddlDisciplineId" disabled="disabled">
                                                    <option value="0" selected="selected">Select One</option>
                                                    @foreach (var item in listDisciplineFCPS)
                                                    {
                                                        <option value="@item.disciplineId">@item.name</option>
                                                    }
                                                </select>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date</label>
                                            <input required="required" type="text" name="txtPassingDateType1" id="txtPassingDateType1" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType1" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType1" value="" class="hfdType" />
                                            <img id="imgType1" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType1" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldType0" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType0" type="checkbox" class="chkType" disabled="disabled" /> Part -1 FCPS Marks (2nd Optional): </label></legend>
                                <input type="hidden" id="hfdTypeId0" class="hfdTypeId" value="" />
                                <div class="row col-md-12 " style="display:none;">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Obtained Marks * </label>
                                            <input type="text" name="txtObtainMarksType0" id="txtObtainMarksType0" disabled="disabled" class="form-control txtObtainMarksType" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Total Marks *</label>
                                            <input type="text" name="txtTotalMarksType0" id="txtTotalMarksType0" class="form-control" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType0" style="display:none;">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Discipline</label>
                                            @{
                                                var listDisciplineFCP = Model.listDiscipline.Where(x => x.typeId == 1).OrderBy(x => x.name).ToList();
                                                <select id="ddlDisciplineId0" class="form-control ddlDisciplineId" disabled="disabled">
                                                    <option value="0" selected="selected">Select One</option>
                                                    @foreach (var item in listDisciplineFCP)
                                                    {
                                                        <option value="@item.disciplineId">@item.name</option>
                                                    }
                                                </select>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date</label>
                                            <input required="required" type="text" name="txtPassingDateType0" id="txtPassingDateType0" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType0" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType0" value="" class="hfdType" />
                                            <img id="imgType0" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType0" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldType2" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType2" type="checkbox" class="chkType" disabled="disabled"/> MS Marks: </label></legend>
                                <input type="hidden" id="hfdTypeId2" class="hfdTypeId" value="" />
                                <div class="row col-md-12 fieldType2">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Obtained Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtObtainMarksType2" id="txtObtainMarksType2" class="form-control txtObtainMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Total Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtTotalMarksType2" id="txtTotalMarksType2" class="form-control txtTotalMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType2">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date <span class="sprq">*</span></label>
                                            <input required="required" type="text" name="txtPassingDateType2" id="txtPassingDateType2" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType2" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType2" value="" class="hfdType" />
                                            <img id="imgType2" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType2" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldType3" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType3" type="checkbox" class="chkType" disabled="disabled"/> MD Marks: </label></legend>
                                <input type="hidden" id="hfdTypeId3" class="hfdTypeId" value="" />
                                <div class="row col-md-12 fieldType3">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Obtained Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtObtainMarksType3" id="txtObtainMarksType3" class="form-control txtObtainMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Total Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtTotalMarksType3" id="txtTotalMarksType3" class="form-control txtTotalMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType3">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date <span class="sprq">*</span></label>
                                            <input required="required" type="text" name="txtPassingDateType3" id="txtPassingDateType3" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType3" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType3" value="" class="hfdType" />
                                            <img id="imgType3" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType3" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldType5" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType5" type="checkbox" class="chkType"  disabled="disabled"/> FCPS Dentistry Marks: </label></legend>
                                <input type="hidden" id="hfdTypeId5" class="hfdTypeId" value="" />
                                <div class="row col-md-12" style="display:none">

                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Obtained Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtObtainMarksType5" id="txtObtainMarksType5" class="form-control txtObtainMarksType" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Total Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtTotalMarksType5" id="txtTotalMarksType5" class="form-control txtTotalMarksType" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType5">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date <span class="sprq">*</span></label>
                                            <input required="required" type="text" name="txtPassingDateType5" id="txtPassingDateType5" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType5" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType5" value="" class="hfdType" />
                                            <img id="imgType5" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType5" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="fieldType4" class="fieldType" style="display:none">
                                <legend> <label> <input id="chkType4" type="checkbox" class="chkType"  disabled="disabled"/> MDS Marks: </label></legend>
                                <input type="hidden" id="hfdTypeId4" class="hfdTypeId" value="" />
                                <div class="row col-md-12 fieldType4">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Obtained Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtObtainMarksType4" id="txtObtainMarksType4" class="form-control txtObtainMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label> Total Marks <span class="sprq">*</span></label>
                                            <input type="text" name="txtTotalMarksType4" id="txtTotalMarksType4" class="form-control txtTotalMarksType numeric" len="3" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12 fieldType4">
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label>Passing Date <span class="sprq">*</span></label>
                                            <input required="required" type="text" name="txtPassingDateType4" id="txtPassingDateType4" class="form-control datepicker txtPassingDateType">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label> Certificate Image <span class="sprq">*</span></label>
                                            <input type="file" id="flType4" class="form-control flup flType" tabindex="2">
                                            <input type="hidden" id="hfdType4" value="" class="hfdType" />
                                            <img id="imgType4" class="flup-img imgType" src="" alt="" style="display:none;" />
                                            <a id="rmvType4" class="removeImage rmvType" style="display:none;"> <i class="fa fa-window-close"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="col-sm-12">
                                <span id="btnSaveEducation" type="button" class="btn btn-lg mb10 mt5 pull-right btn-red" tabindex="19">Update</span>
                            </div>
                        </form>
                    </div>
                </div>
                @Html.Partial("_NotePageBottom")
            </div>
        </div>
    </div>
</div>