@model Prp.Sln.ContentPageModel
@{
    ViewBag.Title = "Test Email Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section RenderCss{

    <style>
        .query-new {
            background-color: #f95454;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
        }

        .query-old {
            background-color: #61aa2f;
            padding: 5px 10px;
            border-radius: 5px;
            color: #fff;
        }

        .spdetail {
            font-size: 12px;
            font-style: italic;
            color: #0a26ed;
            cursor: pointer;
        }
    </style>

}
@section RenderScript{


    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script>

        $(document).ready(function () {


            

        });


        function SetValueAndValidateForm(event) {

            var isOk = true;

            //var emailId = $("#txtEmail").val().toLowerCase();


            //if (ValidateEmail(emailId) == false) {
            //    isOk = false;
            //    alert("Please enter valid emailId")
            //}

            if (isOk == false)
                event.preventDefault();
        }

    </script>

}
<div class="container content">
    <div class="row main">

        <div class="col-sm-12 form-box">
            <div class="main-login main-center">

                @if (ViewBag != null && ViewBag.message != null)
                {
                    var message = ViewBag.message.message;
                    var classType = "panel-success";

                    if (ViewBag.message.status == false)
                    {
                        classType = "panel-danger";
                        if (String.IsNullOrWhiteSpace(message))
                        {
                            message = " Something went wrong.";
                        }
                    }
                    <div id="divMessagedd" class="col-sm-12">
                        <div id="divMsgdd" class="@("panel "+ classType )">
                            <div class="panel-heading">
                                <label class="text-center">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <ul id="idErrorMsg" class="ul-err">
                                        @message
                                    </ul>
                                </label>
                            </div>
                        </div>
                    </div>
                }

                @using (Html.BeginForm("TestAndSendEmail", "ContentPage", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = " SetValueAndValidateForm(event)" }))
                {
                    <form class="form-horizontal">

                        <h3 class="heading">Test Email Credentials</h3>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label> Email From <span class="sprq">*</span></label>
                                    @Html.TextBoxFor(a => a.email.emailFrom, new { @class = "form-control ctrlUnq", @required = "required", @id = "txtEmailId", @tabindex = "1" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label> Password <span class="sprq">*</span></label>
                                    @Html.TextBoxFor(a => a.email.password, new { @class = "form-control ctrlUnq", @required = "required", @id = "txtPassword", @tabindex = "1" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label> Email To <span class="sprq">*</span></label>
                                    @Html.TextBoxFor(a => a.email.emailId, new { @class = "form-control ctrlUnq", @required = "required", @id = "txtEmailId", @tabindex = "2" })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label> Title <span class="sprq">*</span></label>
                                    @Html.TextBoxFor(a => a.email.title, new { @class = "form-control", @required = "required", @id = "txtTitle", @tabindex = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label> Subject <span class="sprq">*</span></label>
                                    @Html.TextBoxFor(a => a.email.subject, new { @class = "form-control", @required = "required", @id = "txtSubject", @tabindex = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label> Body/Message <span class="sprq">*</span></label>
                                    @Html.TextAreaFor(model => model.email.body, new { @class = "form-control", @required = "required", @rows = "8", @id = "txtBody", @tabindex = "3" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin:10px 0px 20px 0px;">
                                <div class="col-sm-4">
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-app animated-button" style="width:100%">Send Email</button>
                                </div>
                                <div class="col-sm-4">
                                </div>
                            </div>
                        </div>

                    </form>
                }
            
            </div>
        </div>
    </div>
</div>