@{ ViewBag.Title = "Extension - Approval";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ApplicantActionAdminModel
@section RenderCss{

    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }
    </style>

}
@section RenderScript{

    <script>
        var applicantId = 0, applicantLeaveId = 0, obj = {}, typeId = 1, remarksType = '';
        $(document).ready(function () {
            $('#fieldHistory .contentHistory').hide();
            $('#legendHistory').click(function () {
                $(this).parent().find('.contentHistory').slideToggle("slow");
            });
            $("#txtRemarks").hide();

            $("#ddlRemarks").change(function () {
                remarksType = $("#ddlRemarks").val();
                if (remarksType == 'other') {
                    $("#txtRemarks").show();
                }
                else {
                    $("#txtRemarks").hide();
                }
            });


            applicantId = ConvertToInt($("#hfdApplicantId").val());
            applicantLeaveId = ConvertToInt($("#hfdApplicantLeaveId").val());
            console.log(applicantLeaveId);
            typeId = ConvertToInt($("#hfdTypeId").val());
            if (typeId == 0)
                ConvertToInt($("#hfdTypeId").val(1));

            var dateFormatDatePocker = 'dd/mm/yyyy';


            $("#txtDateFrom").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                setDate: new Date(),
                startDate: new Date()
            });

            $("#txtDateTo").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                setDate: new Date(),
                startDate: new Date()
            });



            $(document).on('click', '#ddlType', function () {

                $("#hfdTypeId").val($("#ddlType").val());

            });

            $(document).on('click', '#btnSave', function () {
                SaveApplicantAction();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveApplicantAction();
                }
            });

        });

        function SaveApplicantAction() {

            if (ValidateFormJoining() == false) {

                var resp = CallActionPost("/ApplicantAction/ExtensionApprovalSetupSave", obj);

                if (resp != null && resp.status == true) {
                    alert("Data saved successfully")
                    window.location = "/admin/extension-approval-listing";
                }
            }
        }


        function ValidateFormJoining() {

            var isError = false, ctrl = "";

            obj = {};
            obj.applicantId = ConvertToInt($("#hfdApplicantId").val());
            obj.typeId = ConvertToInt($("#ddlType").val());
            obj.actionId = ConvertToInt($("#ddlAction").val());
            obj.applicantLeaveId = ConvertToInt($("#hfdApplicantLeaveId").val());
            if (ConvertToString($("#ddlRemarks").val()) == 'other') {
                obj.remarks = ConvertToString($("#txtRemarks").val());
                if (obj.remaks == null) {
                    $("#txtRemarks").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRemarks";
                }
                if (obj.remaks.trim() == "") {
                    $("#txtRemarks").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRemarks";
                }
            }
            else {
                obj.remarks = ConvertToString($("#ddlRemarks").val());
            }



            return isError;
        }</script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Extension Application </h2>
            <div class="clearfix"></div>
        </div>
        <fieldset>
            <legend> Application Info  </legend>
            <div class="form-group col-lg-12">
                @{ var applicant = Model.applicant;
                    var info = Model.applicantInfo;
        <table style="width: 100%;" cellspacing="0px">
            <tbody>
                <tr style="float: left">
                    <th>
                        <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                        <h4 style="margin: 0px; font-size: 20px; margin-top:10px; ">Form No. : @applicant.applicantId</h4>
                    </th>
                </tr>
                <tr style="float: right">
                    <th>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
                    <table style="width: 100%;" cellspacing="0px">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="top_detail" style="width: 48%; float: left; margin-right:2%">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>@applicant.name</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>@applicant.emailId</td>
                                            </tr>
                                            <tr>
                                                <td>PMDC Number</td>
                                                <td> @applicant.pmdcNo <a class="ank" href="@("http://pmdc.org.pk//DesktopModules/pmdcDetails/PractDetail.aspx?RegistrationNo=" + @applicant.pmdcNo)" target="_blank"> View </a></td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth</td>
                                                <td>@info.dob.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>@info.address</td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC</td> }
                                                else
                                                {
                                    <td>Passport</td>}
                                                <td>@info.cnicNo</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Front Image</td> }
                                                else
                                                {
                                    <td>Passport 1st Page Image</td>}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td>Domicile Front Image</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                        </a>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <span class="ank spn-img-view">View</span>
                                        </a>
                                    </td>
                                </tr>}
                                        </tbody>
                                    </table>
                                    <table class="top_detail" style="width: 49%; float: left;">
                                        <tbody>
                                            <tr>
                                                <td>Father Name</td>
                                                <td>@info.fatherName</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile No</td>
                                                <td>@applicant.contactNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Domicile</td>
                                                <td>@info.domicileProvince - @info.domicileDistrict</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>@info.gender</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Expiry Date</td>
 }
                                else
                                {
                    <td>Passport Expiry Date</td>
}
                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>

                                            <tr>
                                                <td>Nationality</td>
                                                @if (Model.applicantInfo.countryId == 132)
                                                {
                                    <td>Pakistan - @info.districtName</td>
 }
                                else
                                {
                    <td>@Model.applicantInfo.countryName - @info.districtName</td>
}
                                            </tr>
                                            <tr>
                                                <td>Last Date of PMDC</td>
                                                <td>@info.pmdcExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Back Image</td>
 }
                                else
                                {
                    <td>Passport 2nd Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Joining Date</td>
                                                <td>@Model.joinApplicant.joiningDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td> &nbsp;</td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> }
            </div>
        </fieldset>
        @if (Model.joinApplicant.applicantId > 0)
        {
    <fieldset>
        <legend> Joining Information  </legend>
        <div class="form-group col-lg-12">
            @Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })
            @Html.HiddenFor(m => m.joinApplicant.specialityJobId, new { @id = "hfdSpecialityJobId" })
            @Html.HiddenFor(m => m.typeId, new { @id = "hfdTypeId" })
            @Html.HiddenFor(m => m.applicantLeaveId, new { @id = "hfdApplicantLeaveId" })
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Program</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.typeName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Quota</label>
                <input type="text" id="txtName" name="btnSendEmail" value="@(Model.joinApplicant.quotaName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width: 100%;">Speciality</label>
                <input type="text" id="txtPMDCNo" name="btnSendEmail" value="@(Model.joinApplicant.specialityName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width:100%;">Hospital Name</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.hospitalName)" class="form-control" readonly="readonly" />
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldHistory">
        <legend id="legendHistory"> Extension History  </legend>
        @foreach (var item in Model.extensionDataList)
        {
    <div class="form-group col-lg-12 contentHistory" id="contentHistory">

        @if (item.approver != "abc")
        {
        <div class="form-group col-lg-12">
            

            <table border="1" style="width:100%; text-align:center">
                <tr style="font-weight:bold">
                    <td colspan="2">Years</td>
                    <td>Application</td>
                    <td>PER</td>
                    <td>CNIC</td>
                    <td>PMDC</td>
                </tr>
                <tr>
                    <td colspan="2"><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.noOfMonths)</label></td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageApplication)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageApplication)" alt="pdf" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePER)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePER)" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageNOC)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageNOC)" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePMDC)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePMDC)" />
                        </a>
                    </td>
                </tr>
                <tr style="font-weight:bold">
                    <td>Initital Induction Order</td>
                    <td>Initial Induction Order / Previous Extension Order</td>
                    <td>Joining Report</td>
                    <td>Forwarding Letter From HOI</td>
                    <td>RTMC/UHS Registration Number</td>
                    <td>Transfer Order Through Hardship Committee</td>
                </tr>
                <tr>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageInductionOrder)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageInductionOrder)" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageExtensionOrder)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageExtensionOrder)" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageJoiningOrder)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageJoiningOrder)" />
                        </a>
                    </td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageDoc1)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageDoc1)" />
                        </a>
                    </td>
                    <td><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.rtmcUhsNo)</label></td>
                    <td>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageTothc)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageTothc)" />
                        </a>
                    </td>
                </tr>
                <tr style="font-weight:bold">
                    <td colspan="2">Joining Report After Transfer</td>
                    <td colspan="2">Dated</td>
                    <td colspan="2">Requested By</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageJoat)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageJoat)" />
                        </a>
                    </td>
                    <td colspan="2">
                        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateRequested.ToString("dd-MM-yyyy"))</label>
                    </td>
                    <td colspan="2"><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.requestedByName)</label></td>
                </tr>
                <tr style="font-weight:bold">
                    <td colspan="5">Remarks</td>
                    <td>Approval Status</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.remarksRequested)</label>
                    </td>
                    <td>
                        @if (item.approvalStatus == 1)
                        {
                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Approved</label> }
                        else
                        {
                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Not Approved</label>}
                    </td>
                </tr>
            </table>

            @*<div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width: 100%;">Approval Date</label>
            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateApproved.ToString("dd-MM-yyyy"))</label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width: 100%;">Approved By</label>
            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approver)</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <label for="heard" style="width:100%;"> Approval Remarks</label>
            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approvalRemarks)</label>
        </div>*@

        </div>}
    </div>}
    </fieldset>

                                    <fieldset>
                                        <legend> Extension Application  </legend>
                                        <div class="form-group col-lg-12">
                                            <table border="1" style="width:100%; text-align:center">
                                                <tr style="font-weight:bold">
                                                    <td colspan="2">Years</td>
                                                    <td>Application</td>
                                                    <td>PER</td>
                                                    <td>CNIC</td>
                                                    <td>PMDC</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.extensionData.noOfMonths)</label></td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageApplication)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageApplication)" alt="pdf" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imagePER)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imagePER)" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageNOC)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageNOC)" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imagePMDC)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imagePMDC)" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr style="font-weight:bold">
                                                    <td>Initital Induction Order</td>
                                                    <td>Initial Induction Order / Previous Extension Order</td>
                                                    <td>Joining Report</td>
                                                    <td>Forwarding Letter From HOI</td>
                                                    <td>RTMC/UHS Registration Number</td>
                                                    <td>Transfer Order Through Hardship Committee</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageInductionOrder)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageInductionOrder)" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageExtensionOrder)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageExtensionOrder)" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageJoiningOrder)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageJoiningOrder)" />
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageDoc1)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageDoc1)" />
                                                        </a>
                                                    </td>
                                                    <td><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.extensionData.rtmcUhsNo)</label></td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageTothc)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageTothc)" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr style="font-weight:bold">
                                                    <td colspan="2">Joining Report After Transfer</td>
                                                    <td colspan="2">Dated</td>
                                                    <td colspan="2">Requested By</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageJoat)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageJoat)" />
                                                        </a>
                                                    </td>
                                                    <td colspan="2">
                                                        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.extensionData.dateRequested.ToString("dd-MM-yyyy"))</label>
                                                    </td>
                                                    <td colspan="2"><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.extensionData.requestedByName)</label></td>
                                                </tr>
                                            </table>
                                            
                                            @*<div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width:100%;">Doc2</label>
                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageDoc2)" target="_blank" title="Click to view">
                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.extensionData.imageDoc2)" />
                                                </a>
                                            </div>*@


                                        </div>

                                    </fieldset>


                                                    <fieldset>
                                                        <legend> @Model.heading  </legend>
                                                        <form class="form-horizontal form-label-left input_mask">

                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <label for="heard" style="width:100%;">Action *</label>
                                                                    <select id="ddlAction" name="ddlAction" class="form-control" tabindex="2">
                                                                        <option value="1">Approve</option>
                                                                        <option value="0">Reject</option>
                                                                    </select>
                                                                </div>


                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label for="heard" style="width:100%;">Remarks *</label>
                                                                    <select id="ddlRemarks" name="ddlRemarks" class="form-control" tabindex="2">
                                                                        <option value="Approved">Approved</option>
                                                                        <option value="Not Approved">Not Approved</option>
                                                                        <option value="other">Others</option>
                                                                    </select>
                                                                    <br />
                                                                    <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" tabindex="3" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                    <label for="heard" style="width:100%;">&nbsp;</label>
                                                                    <input type="button" id="btnSave" name="submit" class="btn btn-success" value="Save" tabindex="4" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </fieldset> }
                                                else
                                                {
                                    <fieldset>
                                        <legend> Action Info  </legend>
                                        <div>
                                            <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                                                <span> Data Not Eixts</span>
                                            </div>
                                        </div>
                                    </fieldset>}

    </div>
</div>