@{ ViewBag.Title = "Leave - Print";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ApplicantActionAdminModel


@section RenderCss{

    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }

        td span {
            line-height: 18px;
        }
    </style>

}
@section RenderScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script>

        $(document).ready(function () {

            PageInit();

        });

        function PageInit() {

            //printDiv();

            $(document).on('click', '#btnPrint', function (event) {
                //CreatePDFfromHTML();
                //alert('hhh');
                //doc.fromHTML($('#divprint').html(), 15, 15, {
                //    'width': 170,
                //    'elementHandlers': specialElementHandlers
                //});
                //doc.save('sample-file.pdf');
                printDiv();
            });


        }

        function printDiv() {

            var result = false;
            try {

                var divToPrint = document.getElementById('divprint');
                var newWin = window.open('', 'Print-Window');
                newWin.document.open();
                newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                newWin.document.close();
                setTimeout(function () { newWin.close(); }, 10);
                result = true;

            } catch (e) {
                result = false;
            }
            return result;
        }

        function CreatePDFfromHTML() {
            var HTML_Width = $(".html-content").width();
            var HTML_Height = $(".html-content").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($(".html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("Your_PDF_Name.pdf");
                $(".html-content").hide();
            });
        }

    </script>
}
<div style="width:100%;">

    <div class="center-div col-md-12 col-sm-12 col-xs-12">
        <a id="btnPrint" class="btn btn-app animated-button btn_print"><i class="fa fa-save"></i> &nbsp; Print </a>
    </div>
    <div class="clearfix"></div>
    <div class="ln_solid"></div>
    <div id="divprint" class="html-content col-md-12 col-sm-12 col-xs-12">
        <style type="text/css">
            td span {
                line-height: 18px !important;
            }

            .heading {
                float: left;
                width: 100%;
                text-align: center;
            }

            .tbl {
                border-collapse: collapse;
            }

                .tbl td {
                    border: 1px solid black;
                }
        </style>
        <table style="width:100%;" border="0">
            <tr>
                <td>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <table style="width: 100%; display:table" border="0">
                                    <tbody style="display: table;">
                                        <tr>
                                            <td class="heading" style="font-size: 25px; text-align:left">
                                                <b>  <span class="spnInstituteName"> @Model.applicant.name</span></b>
                                                <span style="font-size: 15px; text-align:left; text-decoration:underline"> Form N0.:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicantInfo.applicantId</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> PMDC:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicant.pmdcNo</span></b>
                                                <br />
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline">Father's Name:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicantInfo.fatherName </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> CNIC:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicantInfo.cnicNo </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> Mobile Number:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicant.contactNumber </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> e-mail:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.applicant.emailId </span></b>
                                                <br />
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline">Program:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.joinApplicant.typeName </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> Quota:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.joinApplicant.quotaName </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> Specialty:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.joinApplicant.specialityName </span></b>
                                                &nbsp;<span style="font-size: 15px; text-align: left; text-decoration: underline"> Hospital:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.joinApplicant.hospitalName </span></b>
                                            </td>
                                            <td style="text-align: right;">
                                                <img class="imgView" src="@("http://prp.phf.gop.pk/images/Applicant/" + @Model.applicant.applicantId + "/" + @Model.applicant.pic)" style="width: 100px; height: 100px; vertical-align: middle" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;  display:table" border="0">
                                    <tbody style="display: table;">
                                        <tr>
                                            <td style="text-align: center;">
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align: center; text-decoration:underline"> Leave Application </span></b>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;  display:table" border="0">
                                    <tbody style="display: table;">
                                        <tr>
                                            <td class="heading" style="font-size: 25px; text-align:left">
                                                <span style="font-size: 15px; text-align:left; text-decoration:underline"> Leave Type.:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.typeName</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> From:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.startDate.ToString("dd-mm-yyyy")</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> To:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.endDate.ToString("dd-mm-yyyy")</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline">Requested By:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.requestedByName </span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;">
                                                <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.image)" style="max-width: 800px; vertical-align: middle" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br />
                                            </td>
                                        </tr>
                                        @if (Model.leaveData.typeId == 6112)
                                        { 
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; display:table" border="0">
                                                        <tbody style="display: table;">
                                                            <tr style="height:50px; vertical-align:middle">
                                                                <td style="text-align: left;">
                                                                    <b> <span class="spnInstituteName" style="font-size: 15px; text-align: left; text-decoration:underline"> Medical Certificate </span></b>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="text-align: center;">
                                                    <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.imageMedical)" style="max-width: 800px; vertical-align: middle" />
                                                </td>
                                            </tr>
                                        }
                                        else if (Model.leaveData.typeId == 6113)
                                        { 
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; display:table" border="0">
                                                        <tbody style="display: table;">
                                                            <tr style="height:50px; vertical-align:middle">
                                                                <td style="text-align: left;">
                                                                    <b> <span class="spnInstituteName" style="font-size: 15px; text-align: left; text-decoration:underline"> Maternity Certificate </span></b>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.imageMaternity)" style="max-width: 800px; vertical-align: middle" />
                                                </td>
                                            </tr>
                                        }
                                        else if (Model.leaveData.typeId == 6117)
                                        { 
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; display:table" border="0">
                                                        <tbody style="display: table;">
                                                            <tr style="height:50px; vertical-align:middle">
                                                                <td style="text-align: left;">
                                                                    <b> <span class="spnInstituteName" style="font-size: 15px; text-align: left; text-decoration:underline"> Affidavit/Undertaking </span></b>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" style="max-width: 800px; vertical-align: middle" />
                                                </td>
                                            </tr>
                                        }
                                        else if (Model.leaveData.typeId == 6114 || Model.leaveData.typeId == 6115 || Model.leaveData.typeId == 6116)
                                        {
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; display:table" border="0">
                                                        <tbody style="display: table;">
                                                            <tr style="height:50px; vertical-align:middle">
                                                                <td style="text-align: left;">
                                                                    <b> <span class="spnInstituteName" style="font-size: 15px; text-align: left; text-decoration:underline"> Affidavit/Undertaking </span></b>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" style="max-width: 800px; vertical-align: middle" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="width: 100%; display:table" border="0">
                                                        <tbody style="display: table;">
                                                            <tr style="height:50px; vertical-align:middle">
                                                                <td style="text-align: left;">
                                                                    <b> <span class="spnInstituteName" style="font-size: 15px; text-align: left; text-decoration:underline"> PGAC Recommendation </span></b>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <img src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.leaveData.imagePGAC)" style="max-width: 800px; vertical-align: middle" />
                                                </td>
                                            </tr>
                                        }
                                        <tr style="height:30px; vertical-align:bottom">
                                            <td style="text-align: left;">
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline">Application Remarks:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.remarksRequested </span></b>
                                            </td>
                                        </tr>
                                        @if (Model.leaveData.approvalStatus == 1)
                                        {
                            <tr style="height:30px; vertical-align:bottom">
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <span style="font-size: 15px; text-align:left; text-decoration:underline"> Approval Status:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> Approved</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> Approved By:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.approver</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> Approval Date:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.dateApproved.ToString("dd-mm-yyyy")</span></b>
                                                <span style="font-size: 15px; text-align: left; text-decoration: underline"> Approval Remarks:</span>
                                                <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> @Model.leaveData.approvalRemarks</span></b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                                            <tr style="height:100px; vertical-align:bottom">
                                                <td>
                                                    <span style="font-size: 15px; text-align: left;"> Signature: ______________________</span>

                                                </td>
                                            </tr> }
                                                        else
                                                        {
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px; text-align:left; text-decoration:underline"> Approval Status:</span>
                                                    <b>  <span class="spnInstituteName" style="font-size: 15px; text-align:left"> Not Approved</span></b>
                                                </td>
                                            </tr>}


                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>