@{ ViewBag.Title = "Leave - Approval";
    Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ApplicantActionAdminModel
@section RenderCss{

    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }
    </style>

}
@section RenderScript{

    <script>
        var applicantId = 0, applicantLeaveId = 0, obj = {}, typeId = 1, remarksType = '';
        $(document).ready(function () {
            $('#fieldHistory .contentHistory').hide();
            $('#legendHistory').click(function () {
                $(this).parent().find('.contentHistory').slideToggle("slow");
            });
            $("#txtRemarks").hide();

            $("#ddlRemarks").change(function () {
                remarksType = $("#ddlRemarks").val();
                if (remarksType == 'other') {
                    $("#txtRemarks").show();
                }
                else {
                    $("#txtRemarks").hide();
                }
            });


            applicantId = ConvertToInt($("#hfdApplicantId").val());
            applicantLeaveId = ConvertToInt($("#hfdApplicantLeaveId").val());
            console.log(applicantLeaveId);
            typeId = ConvertToInt($("#hfdTypeId").val());
            if (typeId == 0)
                ConvertToInt($("#hfdTypeId").val(1));

            var dateFormatDatePocker = 'dd/mm/yyyy';


            $("#txtDateFrom").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                setDate: new Date(),
                startDate: new Date()
            });

            $("#txtDateTo").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                setDate: new Date(),
                startDate: new Date()
            });



            $(document).on('click', '#ddlType', function () {

                $("#hfdTypeId").val($("#ddlType").val());

            });

            $(document).on('click', '#btnSave', function () {
                SaveApplicantAction();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveApplicantAction();
                }
            });

        });

        function SaveApplicantAction() {

            if (ValidateFormJoining() == false) {

                var resp = CallActionPost("/ApplicantAction/LeaveApprovalSetupSave", obj);

                if (resp != null && resp.status == true) {
                    alert("Data saved successfully")
                    window.location = "/admin/leave-approval-listing";
                }
            }
        }


        function ValidateFormJoining() {

            var isError = false, ctrl = "";
            
            obj = {};
            obj.applicantId = ConvertToInt($("#hfdApplicantId").val());
            obj.typeId = ConvertToInt($("#ddlType").val());
            obj.actionId = ConvertToInt($("#ddlAction").val());
            obj.applicantLeaveId = ConvertToInt($("#hfdApplicantLeaveId").val());
            if (ConvertToString($("#ddlRemarks").val()) == 'other') {
                obj.remarks = ConvertToString($("#txtRemarks").val());
                if (obj.remaks == null) {
                    $("#txtRemarks").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRemarks";
                }
                if (obj.remaks.trim() == "") {
                    $("#txtRemarks").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtRemarks";
                }
            }
            else {
                obj.remarks = ConvertToString($("#ddlRemarks").val());
            }

            

            return isError;
        }</script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Leave Application </h2>
            <div class="clearfix"></div>
        </div>
        <fieldset>
            <legend> Application Info  </legend>
            <div class="form-group col-lg-12">
                @{ var applicant = Model.applicant;
                    var info = Model.applicantInfo;
        <table style="width: 100%;" cellspacing="0px">
            <tbody>
                <tr style="float: left">
                    <th>
                        <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                        <h4 style="margin: 0px; font-size: 20px; margin-top:10px; ">Form No. : @applicant.applicantId</h4>
                    </th>
                </tr>
                <tr style="float: right">
                    <th>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
                    <table style="width: 100%;" cellspacing="0px">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="top_detail" style="width: 48%; float: left; margin-right:2%">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>@applicant.name</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>@applicant.emailId</td>
                                            </tr>
                                            <tr>
                                                <td>PMDC Number</td>
                                                <td> @applicant.pmdcNo <a class="ank" href="@("http://pmdc.org.pk//DesktopModules/pmdcDetails/PractDetail.aspx?RegistrationNo=" + @applicant.pmdcNo)" target="_blank"> View </a></td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth</td>
                                                <td>@info.dob.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>@info.address</td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC</td> }
                                                else
                                                {
                                    <td>Passport</td>}
                                                <td>@info.cnicNo</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Front Image</td> }
                                                else
                                                {
                                    <td>Passport 1st Page Image</td>}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td>Domicile Front Image</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                        </a>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <span class="ank spn-img-view">View</span>
                                        </a>
                                    </td>
                                </tr>}
                                        </tbody>
                                    </table>
                                    <table class="top_detail" style="width: 49%; float: left;">
                                        <tbody>
                                            <tr>
                                                <td>Father Name</td>
                                                <td>@info.fatherName</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile No</td>
                                                <td>@applicant.contactNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Domicile</td>
                                                <td>@info.domicileProvince - @info.domicileDistrict</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>@info.gender</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                        <td>CNIC Expiry Date</td>
 }
                                    else
                                    {
                                        <td>Passport Expiry Date</td>
}
                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>

                                            <tr>
                                                <td>Nationality</td>
                                                @if (Model.applicantInfo.countryId == 132)
                                                {
                                        <td>Pakistan - @info.districtName</td>
 }
                                    else
                                    {
                                        <td>@Model.applicantInfo.countryName - @info.districtName</td>
}
                                            </tr>
                                            <tr>
                                                <td>Last Date of PMDC</td>
                                                <td>@info.pmdcExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                        <td>CNIC Back Image</td>
 }
                                    else
                                    {
                                        <td>Passport 2nd Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Joining Date</td>
                                                <td>@Model.joinApplicant.joiningDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                        <tr>
                                            <td> &nbsp;</td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> }
            </div>
        </fieldset>
        @if (Model.joinApplicant.applicantId > 0)
        {
    <fieldset>
        <legend> Joining Information  </legend>
        <div class="form-group col-lg-12">
            @Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })
            @Html.HiddenFor(m => m.joinApplicant.specialityJobId, new { @id = "hfdSpecialityJobId" })
            @Html.HiddenFor(m => m.typeId, new { @id = "hfdTypeId" })
            @Html.HiddenFor(m => m.applicantLeaveId, new { @id = "hfdApplicantLeaveId" })
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Program</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.typeName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Quota</label>
                <input type="text" id="txtName" name="btnSendEmail" value="@(Model.joinApplicant.quotaName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width: 100%;">Speciality</label>
                <input type="text" id="txtPMDCNo" name="btnSendEmail" value="@(Model.joinApplicant.specialityName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width:100%;">Hospital Name</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.hospitalName)" class="form-control" readonly="readonly" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend> Leaves Summary  </legend>
        @{ int joiningYear = Convert.ToInt32(Model.joinApplicant.joiningDate.ToString("yyyy"));
            int differenceYears = 2022 - joiningYear;
            DateTime startOfThisYear;
            if (Model.joinApplicant.joiningDate > DateTime.Now.AddYears(-1))
            {
                startOfThisYear = Model.joinApplicant.joiningDate;
            }
            else
            {
                int thisYear = 2022;
                int diffOfYears = thisYear - joiningYear - 1;
                startOfThisYear = Model.joinApplicant.joiningDate.AddYears(diffOfYears);
            }

            int leavesCasual = 0;
            try { leavesCasual = Model.leaveDataList.Where(i => i.typeId == 6111).Select(i => i.noOfDays).Count(); }
            catch (Exception ex)
            { }

            int leavesMedical = 0;
            try { leavesMedical = Model.leaveDataList.Where(i => i.typeId == 6112).Select(i => i.noOfDays).Count(); }
            catch (Exception ex)
            { }
             }


        <div class="form-group col-lg-12">
            <table border="1" style="width: 100%; font-size:large">
                <tr>
                    <td style="width: 200px">
                        Maternity leaves
                    </td>
                    <td style="width: 200px">
                        @Model.leaveDataList.Where(i => i.typeId == 6113 && i.approvalStatus == 1).Select(i => i.noOfDays).Sum() Days
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Umrah leaves
                    </td>
                    <td style="width: 200px">
                        @Model.leaveDataList.Where(i => i.typeId == 6115).Select(i => i.noOfDays).Sum() Days
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Hajj leaves
                    </td>
                    <td style="width: 200px">
                        @Model.leaveDataList.Where(i => i.typeId == 6116).Select(i => i.noOfDays).Sum() Days
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Ex-Pakistan leaves
                    </td>
                    <td style="width: 200px">
                        @Model.leaveDataList.Where(i => i.typeId == 6114).Select(i => i.noOfDays).Sum() Days
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Freezing Period
                    </td>
                    <td style="width: 200px">
                        @Model.leaveDataList.Where(i => i.typeId == 6117).Select(i => i.noOfDays).Sum() Days
                    </td>
                </tr>
                @for (int i = 0; i < differenceYears + 1; i++)
                {
                    if (DateTime.Now > Model.joinApplicant.joiningDate.AddYears(i))
                    {
    <tr>
        <td colspan="2" style="font-weight: bold">
            @*Year @(joiningYear+i) - @(joiningYear+i-1999):*@
            Year 0@(i+1) (@Model.joinApplicant.joiningDate.AddYears(i).ToString("dd MMM yyyy") to @Model.joinApplicant.joiningDate.AddYears(i + 1).ToString("dd MMM yyyy"))
        </td>
    </tr>
                            <tr>
                                <td style="width: 200px">
                                    Casual Leaves
                                </td>
                                <td style="width: 200px">
                                    @Model.leaveDataList.Where(k => k.typeId == 6111 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1)).Select(k => k.noOfDays).Sum()  Days
                                </td>
                            </tr>
                                                    <tr>
                                                        <td style="width: 200px">
                                                            Medical Leaves
                                                        </td>
                                                        <td style="width: 200px">
                                                            @Model.leaveDataList.Where(k => k.typeId == 6112 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1)).Select(k => k.noOfDays).Sum()  Days
                                                        </td>
                                                    </tr>}

                                                                    }
            </table>
        </div>


        <fieldset id="fieldHistory">
            <legend id="legendHistory"> Leaves History  </legend>
            @foreach (var item in Model.leaveDataList)
            {
    <div class="form-group col-lg-12 contentHistory" id="contentHistory">

        @if (item.approver != "abc")
        {
        <div class="form-group col-lg-12">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Leave Type</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.typeName)</label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">From</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.startDate.ToString("dd-MM-yyyy"))</label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width: 100%;">To</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.endDate.ToString("dd-MM-yyyy"))</label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Application</label>
                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)" target="_blank" title="Click to view">
                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)" />
                </a>
            </div>
            @if (item.typeId == 6112)
            {
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width:100%;">Medical Certificate</label>
            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" target="_blank" title="Click to view">
                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" alt="pdf" />
            </a>
        </div> }
                                else if (item.typeId == 6113)
                                {
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width:100%;">Maternity Certificate</label>
            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" target="_blank" title="Click to view">
                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" alt="pdf" />
            </a>
        </div> }
                                else if (item.typeId == 6117)
                                {
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
            </a>
        </div> }
                                else if (item.typeId == 6114 || item.typeId == 6115 || item.typeId == 6116)
                                {
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
            </a>
        </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <label for="heard" style="width:100%;">PGAC Recommendation </label>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" alt="pdf" />
                                        </a>
                                    </div>}
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width: 100%;">Dated</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateRequested.ToString("dd-MM-yyyy"))</label>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="heard" style="width:100%;">Remarks</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.remarksRequested)</label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width: 100%;">Approval Status</label>
                @if (item.approvalStatus == 1)
                {
        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Approved</label> }
    else
    {
        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Not Approved</label>}

            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width: 100%;">Approval Date</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateApproved.ToString("dd-MM-yyyy"))</label>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width: 100%;">Approved By</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approver)</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label for="heard" style="width:100%;"> Approval Remarks</label>
                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approvalRemarks)</label>
            </div>
            <hr class="solid" style="margin-top: 180px !important; border-top: 1px solid rgba(0,0,0,1) !important;  ">

        </div>}
    </div>}
        </fieldset>

    </fieldset>
                                    <fieldset>
                                        <legend> Leave Application  </legend>
                                        <div class="form-group col-lg-12">
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width:100%;">Leave Type</label>
                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.leaveData.typeName)</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width:100%;">From</label>
                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.leaveData.startDate.ToString("dd-MM-yyyy"))</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width: 100%;">To</label>
                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.leaveData.endDate.ToString("dd-MM-yyyy"))</label>
                                            </div>
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width:100%;">Application</label>
                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.image)" target="_blank" title="Click to view">
                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.image)" alt="pdf" />
                                                </a>
                                            </div>
                                            @if (Model.leaveData.typeId == 6112)
                                            {
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <label for="heard" style="width:100%;">Medical Certificate</label>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageMedical)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageMedical)" />
                                                    </a>
                                                </div>
                                            }
                                            else if (Model.leaveData.typeId == 6113)
                                            {
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <label for="heard" style="width:100%;">Maternity Certificate</label>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageMaternity)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageMaternity)" />
                                                    </a>
                                                </div>
                                            }
                                            else if (Model.leaveData.typeId == 6117)
                                            {
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <label for="heard" style="width:100%;">Affidavit/Undertaking</label>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" />
                                                    </a>
                                                </div>
                                            }
                                            else if (Model.leaveData.typeId == 6114 || Model.leaveData.typeId == 6115 || Model.leaveData.typeId == 6116)
                                            {
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <label for="heard" style="width:100%;">Affidavit/Undertaking</label>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imageAffidavit)" alt="pdf" />
                                                    </a>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                    <label for="heard" style="width:100%;">PGAC Recommendation</label>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imagePGAC)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + Model.leaveData.imagePGAC)" />
                                                    </a>
                                                </div>
                                            }
                                            
                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                <label for="heard" style="width: 100%;">Requested By</label>
                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.leaveData.requestedByName)</label>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <label for="heard" style="width:100%;">Requesting Remarks</label>
                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(Model.leaveData.remarksRequested)</label>
                                            </div>

                                        </div>

                                    </fieldset>
                                                    <fieldset>
                                                        <legend> @Model.heading  </legend>
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            @if (Model.typeId != 11)
                                                            {
                                            <div class="form-group col-lg-12">
                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                    <label for="heard" style="width:100%;">Action *</label>
                                                    <select id="ddlAction" name="ddlAction" class="form-control" tabindex="2">
                                                        <option value="1">Approve</option>
                                                        <option value="0">Reject</option>
                                                    </select>
                                                </div>


                                            </div> }
                                        else
                                        {
                        <div class="form-group col-lg-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">Start Date *</label>
                                <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">End Date *</label>
                                <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label style="float: left; clear: both; width: 100%;">Image *</label>
                                <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="2" />
                                <input type="hidden" id="hfdScanImage" value="" />
                                <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                <a id="rmvScanImage" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                            </div>
                        </div>}
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label for="heard" style="width:100%;">Remarks *</label>
                                                                    <select id="ddlRemarks" name="ddlRemarks" class="form-control" tabindex="2">
                                                                        <option value="Approved">Approved</option>
                                                                        <option value="Not Approved">Not Approved</option>
                                                                        <option value="other">Others</option>
                                                                    </select>
                                                                    <br />
                                                                    <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" tabindex="3" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                    <label for="heard" style="width:100%;">&nbsp;</label>
                                                                    <input type="button" id="btnSave" name="submit" class="btn btn-success" value="Save" tabindex="4" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </fieldset> }
                                                else
                                                {
                                    <fieldset>
                                        <legend> Action Info  </legend>
                                        <div>
                                            <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                                                <span> Data Not Eixts</span>
                                            </div>
                                        </div>
                                    </fieldset>}

    </div>
</div>