@{ ViewBag.Title = "Hospital - Applicant Joining";
                Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ApplicantActionAdminModel
@section RenderCss{

    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }
    </style>

}
@section RenderScript{

    <script>
        var applicantId = 0, obj = {}, typeId = 1, leaveTypeId = 6111, objLeaveData = {};
        $(document).ready(function () {

            //$(window).load(function () {
            //    $('img').each(function () {
            //        if (!this.complete
            //            || typeof this.naturalWidth == "undefined"
            //            || this.naturalWidth == 0) {
            //            // image was broken, replace with your new image
            //            this.src = '../images/pdf.png';
            //        }
            //    });
            //});

            $('#fieldHistory .contentHistory').hide();
            $('#legendHistory').click(function () {
                $(this).parent().find('.contentHistory').slideToggle("slow");
            });

            applicantId = ConvertToInt($("#hfdApplicantId").val());

            typeId = ConvertToInt($("#hfdTypeId").val());
            if (typeId == 0)
                ConvertToInt($("#hfdTypeId").val(1));

            $("#Affidavit").hide();
            $("#maternity").hide();
            $("#medical").hide();
            $("#forwarding").hide();
            $("#Surety").hide();
            $("#pgac").hide();
            $("#Attorney").hide();
            $("#Visa").hide();
            $("#Purpose").hide();
            $("#ddlDox").hide();
            $("#eddDiv").hide();

            $("#txtDateFrom").change(function () {
                if (leaveTypeId == 6111) {
                    var a = $("#txtDateFrom").datepicker('getDate').getTime();
                    var b;
                    try {
                        b = $("#txtDateTo").datepicker('getDate').getTime();
                    }
                    catch
                    {
                        b = $("#txtDateFrom").datepicker('getDate').getTime();
                    }
                    var c = 24 * 60 * 60 * 1000;
                    var diffDays = Math.round(Math.abs((a - b) / (c)));
                    if (diffDays >= 5) {
                        $("#forwarding").show();
                    }
                    else {
                        $("#forwarding").hide();
                    }
                }
            });

            $("#txtDateTo").change(function () {
                if (leaveTypeId == 6111) {
                    var a = $("#txtDateTo").datepicker('getDate').getTime();
                    var b;
                    try {
                        b = $("#txtDateFrom").datepicker('getDate').getTime();
                    }
                    catch
                    {
                        b = $("#txtDateTo").datepicker('getDate').getTime();
                    }
                    var c = 24 * 60 * 60 * 1000;
                    var diffDays = Math.round(Math.abs((a - b) / (c)));
                    if (diffDays >= 5) {
                        $("#forwarding").show();
                    }
                    else {
                        $("#forwarding").hide();
                    }
                }

            });


            $("#ddlType").change(function () {
                leaveTypeId = ConvertToInt($("#ddlType").val());
                //casual
                if (leaveTypeId == 6111) {
                    $("#Affidavit").hide();
                    $("#maternity").hide();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                    $("#forwarding").hide;
                    $("#Attorney").hide();
                    $("#Visa").hide();
                    $("#Purpose").hide();
                    $("#eddDiv").hide();
                    var a;
                    try {
                        a = $("#txtDateFrom").datepicker('getDate').getTime();
                    }
                    catch
                    {
                        a = new Date();
                    }
                    var b;
                    try {
                        b = $("#txtDateTo").datepicker('getDate').getTime();
                    }
                    catch
                    {
                        b = new Date();
                    }
                    var c = 24 * 60 * 60 * 1000;
                    var diffDays = Math.round(Math.abs((a - b) / (c)));
                    if (diffDays >= 5) {
                        $("#forwarding").show();
                    }
                    else {
                        $("#forwarding").hide();
                    }
                }
                //medical
                else if (leaveTypeId == 6112) {
                    $("#Affidavit").hide();
                    $("#maternity").hide();
                    $("#medical").show();
                    $("#forwarding").show();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                    $("#Attorney").hide();
                    $("#Visa").hide();
                    $("#Purpose").hide();
                    $("#eddDiv").hide();
                }
                //maternity
                else if (leaveTypeId == 6113) {
                    $("#Affidavit").hide();
                    $("#maternity").show();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#eddDiv").show();
                    $("#Surety").hide();
                    $("#Attorney").hide();
                    $("#Visa").hide();
                    $("#Purpose").hide();
                    $("#dateToDiv").hide();
                }
                //freez
                else if (leaveTypeId == 6117) {
                    $("#Affidavit").show();
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").show();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                    $("#eddDiv").hide();
                }
                //ex-pakistan
                else if (leaveTypeId == 6114) {
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").show();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").show();
                    $("#Attorney").show();
                    $("#Visa").show();
                    $("#Purpose").show();
                    $("#eddDiv").hide();
                }
                // umrah,
                else if (leaveTypeId == 6115) {
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").show();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").show();
                    $("#Attorney").show();
                    $("#Visa").show();
                    $("#Purpose").hide();
                    $("#eddDiv").hide();
                }
                // hajj
                else {
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").show();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").show();
                    $("#Attorney").show();
                    $("#Visa").show();
                    $("#Purpose").hide();
                    $("#eddDiv").hide();
                }
            });

            var dateFormatDatePocker = 'dd/mm/yyyy';

            var theEndDate = '@ViewData["lastDay"]';
            var dateFormatDatePocker = 'dd/mm/yyyy';

            var nextDayDate = new Date();
            nextDayDate.setDate(nextDayDate.getDate() - 7);

            $("#txtDateFrom").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                //setDate: new Date(),
                startDate: nextDayDate
            });

            $("#txtDateTo").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                //setDate: new Date(),
                startDate: nextDayDate
            });

            $("#txtEdd").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                //setDate: new Date(),
                startDate: nextDayDate
            });



            $(document).on('click', '#ddlType', function () {

                $("#hfdTypeId").val($("#ddlType").val());

            });

            $(document).on('click', '#btnSave', function () {
                SaveApplicantAction();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveApplicantAction();
                }
            });

            $(document).on('click', '.ankEdit', function () {
                var idAttr = $(this).attr("id");
                applicantLeaveId = ConvertToInt(idAttr.replace("ankEdit''", ""));

                //alert('edit clicked ' + applicantExperienceId);
                var resp = CallActionGet("/ApplicantAction/GetApplicantLeaveData?applicantLeaveId=" + applicantLeaveId);
                //console.log(resp);
                if (resp != null) {
                    objLeaveData = resp;
                    console.log(objLeaveData);
                    BindLeaveForm();
                }
                else {
                    alert('edit clicked ' + applicantLeaveId);
                }

            });

            $(document).on('click', '.ankDel', function () {

                var idAttr = $(this).attr("id");
                applicantExperienceId = ConvertToInt(idAttr.replace("ankDel''", ""));
                if (applicantExperienceId > 0 && confirm('Are you sure you want to do delete this?')) {
                    DeleteExprience();
                }
            });

        });
        function imgError(image) {
            //alert('');
            //image.onerror = "";
            //image.src = "../images/pdf.png";
            //return true;
        }
        //Epoch
        function Epoch(date) {
            return Math.round(new Date(date).getTime() / 1000.0);
        }

        //Epoch To Date
        function EpochToDate(epoch) {
            if (epoch < 10000000000)
                epoch *= 1000; // convert to milliseconds (Epoch is usually expressed in seconds, but Javascript uses Milliseconds)
            var epoch = epoch + (new Date().getTimezoneOffset() * -1); //for timeZone        
            return new Date(epoch);
        }
        var imagesPath = "";
        
        function BindLeaveForm() {
            $("#ddlType").val(objLeaveData.typeId).change();
            imagesPath = "/Images/Applicant/" + objLeaveData.applicantId + "/";
            //alert(objLeaveData.startDate);
            //$("#txtDateFrom").datepicker('setDate', ToDateFormatDDMMYYYWithSlash(JsonToDate(objLeaveData.startDate)));
            $("#txtDateFrom").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(objLeaveData.startDate)));
            $("#txtDateTo").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(objLeaveData.endDate)));
            //$("#txtDateFrom").datepicker('setDates', ToDateFormatDDMMYYYWithSlash(JsonToDate(objLeaveData.startDate)));

            $("#ddlType").prop('disabled', true);
            $("#txtDateFrom").prop('disabled', true);
            $("#txtDateTo").prop('disabled', true);

            $("#txtRemarks").val(objLeaveData.remarksRequested);

            if (objLeaveData.image.length > 0) {
                $('#imgScanImage').attr('src', imagesPath + objLeaveData.image);
                $('#imgScanImage').show();
                $('#rmvScanImage').show();
                $("#hfdScanImage").val(objLeaveData.image);
            }

            if (objLeaveData.imageRTMC.length > 0) {
                $('#imgScanImageRTMC').attr('src', imagesPath + objLeaveData.imageRTMC);
                $('#imgScanImageRTMC').show();
                $('#rmvScanImageRTMC').show();
                $("#hfdScanImageRTMC").val(objLeaveData.imageRTMC);
            }

            if (objLeaveData.imageForwarding.length > 0) {
                $('#imgScanImageForwarding').attr('src', imagesPath + objLeaveData.imageForwarding);
                $('#imgScanImageForwarding').show();
                $('#rmvScanImageForwarding').show();
                $("#hfdScanImageForwarding").val(objLeaveData.imageForwarding);
            }
            if (objLeaveData.imageAffidavit.length > 0) {
                $('#imgScanImageAffidavit').attr('src', imagesPath + objLeaveData.imageAffidavit);
                $('#imgScanImageAffidavit').show();
                $('#rmvScanImageAffidavit').show();
                $("#hfdScanImageAffidavit").val(objLeaveData.imageAffidavit);
            }
            if (objLeaveData.imageMedical.length > 0) {
                $('#imgScanImageMedical').attr('src', imagesPath + objLeaveData.imageMedical);
                $('#imgScanImageMedical').attr('src', imagesPath + objLeaveData.imageMedical);
                $('#imgScanImageMedical').show();
                $('#rmvScanImageMedical').show();
                $("#hfdScanImageMedical").val(objLeaveData.imageMedical);
            }
            if (objLeaveData.imageMaternity.length > 0) {
                $('#imgScanImageMaternity').attr('src', imagesPath + objLeaveData.imageMaternity);
                $('#imgScanImageMaternity').attr('src', imagesPath + objLeaveData.imageMaternity);
                $('#imgScanImageMaternity').show();
                $('#rmvScanImageMaternity').show();
                $("#hfdScanImageMaternity").val(objLeaveData.imageMaternity);
                $("#txtEdd").val(ToDateFormatDDMMYYYWithSlash(JsonToDate(objLeaveData.edd)));
            }
            if (objLeaveData.imagePGAC.length > 0) {
                $('#imgScanImagePGAC').attr('src', imagesPath + objLeaveData.imagePGAC);
                $('#imgScanImagePGAC').attr('src', imagesPath + objLeaveData.imagePGAC);
                $('#imgScanImagePGAC').show();
                $('#rmvScanImagePGAC').show();
                $("#hfdScanImagePGAC").val(objLeaveData.imagePGAC);
            }
            if (objLeaveData.imageVisa.length > 0) {
                $('#imgScanImageVisa').attr('src', imagesPath + objLeaveData.imageVisa);
                $('#imgScanImageVisa').attr('src', imagesPath + objLeaveData.imageVisa);
                $('#imgScanImageVisa').show();
                $('#rmvScanImageVisa').show();
                $("#hfdScanImageVisa").val(objLeaveData.imageVisa);
            }
            if (objLeaveData.imagePurpose.length > 0) {
                $('#imgScanImagePurpose').attr('src', imagesPath + objLeaveData.imagePurpose);
                $('#imgScanImagePurpose').attr('src', imagesPath + objLeaveData.imagePurpose);
                $('#imgScanImagePurpose').show();
                $('#rmvScanImagePurpose').show();
                $("#hfdScanImagePurpose").val(objLeaveData.imagePurpose);
            }
            if (objLeaveData.imageSurety.length > 0) {
                $('#imgScanImageSurety').attr('src', imagesPath + objLeaveData.imageSurety);
                $('#imgScanImageSurety').attr('src', imagesPath + objLeaveData.imageSurety);
                $('#imgScanImageSurety').show();
                $('#rmvScanImageSurety').show();
                $("#hfdScanImageSurety").val(objLeaveData.imageSurety);
            }
            if (objLeaveData.imageAttorney.length > 0) {
                $('#imgScanImageAttorney').attr('src', imagesPath + objLeaveData.imageAttorney);
                $('#imgScanImageAttorney').attr('src', imagesPath + objLeaveData.imageAttorney);
                $('#imgScanImageAttorney').show();
                $('#rmvScanImageAttorney').show();
                $("#hfdScanImageAttorney").val(objLeaveData.imageAttorney);
            }

        }
        
        function SaveApplicantAction() {

            if (ValidateFormJoining() == false) {

                var resp = CallActionPost("/ApplicantAction/LeaveSetupSave", obj);

                if (resp != null && resp.status == true) {
                    alert("Data saved successfully")
                    window.location = "/admin/leave-applicant-listing";
                }
                else {
                    if (resp.msg != null) {
                        alert(resp.msg);
                    }
                    else {
                        alert(resp.msg.msg);
                    }

                }
            }
            else {
                alert("Wrong");
            }
        }

        function epoch(date) {
            return Date.parse(date)
        }

        function ValidateFormJoining() {

            var isError = false, ctrl = "";

            obj = {};
            if (objLeaveData != null) {
                obj.applicantLeaveId = objLeaveData.applicantLeaveId;
            }
            else {
                obj.applicantLeaveId = 0;
            }
            obj.applicantId = ConvertToInt($("#hfdApplicantId").val());
            obj.actionId = ConvertToInt($("#hfdActionId").val());
            obj.typeId = ConvertToInt($("#ddlType").val());

            obj.categoryId = 0;
            obj.specialityJobId = ConvertToInt($("#hfdSpecialityJobId").val());
            obj.dateStart = ConvertToString($("#txtDateFrom").val());
            if (obj.typeId == 6113) {
                var date2 = $("#txtDateFrom").datepicker('getDate');
                debugger;
                var lastDay = $("#txtDateFrom").datepicker('getDate');
                lastDay.setDate(date2.getDate() + 89);
                const today = lastDay;
                const yyyy = today.getFullYear();
                let mm = today.getMonth() + 1; // Months start at 0!
                let dd = today.getDate();

                if (dd < 10) dd = '0' + dd;
                if (mm < 10) mm = '0' + mm;

                const formattedToday = dd + '/' + mm + '/' + yyyy;
                obj.dateEnd = ConvertToString(formattedToday);
                //obj.dateEnd = ConvertToString($("#txtDateTo").val());
                obj.eddString = ConvertToString($("#txtEdd").val());
            }
            else {
                obj.dateEnd = ConvertToString($("#txtDateTo").val());
            }
            obj.statusId = 1;
            obj.remarks = ConvertToString($("#txtRemarks").val());
            var dateToday = new Date(); // Mon Jun 08 2020 16:47:55 GMT+0800 (China Standard Time)
            var timestamp = epoch(dateToday);
            if ($("#flScanImage").val()) {

                var imgName = "Leave" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.image = UploadImageAdmin("flScanImage", applicantId, imgName);
                $("#hfdScanImage").val(obj.image);
            }
            obj.image = ConvertToString($("#hfdScanImage").val());

            if ($("#flScanImageRTMC").val()) {

                var imgName = "RTMC" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageRTMC = UploadImageAdmin("flScanImageRTMC", applicantId, imgName);
                $("#hfdScanImageRTMC").val(obj.imageRTMC);
            }
            obj.imageRTMC = ConvertToString($("#hfdScanImageRTMC").val());

            if ($("#flScanImageAffidavit").val()) {
                var imgName = "LeaveCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageAffidavit = UploadImageAdmin("flScanImageAffidavit", applicantId, imgName);
                $("#hfdScanImageAffidavit").val(obj.imageAffidavit);
            }
            obj.imageAffidavit = ConvertToString($("#hfdScanImageAffidavit").val());

            if ($("#flScanImageMedical").val()) {
                var imgName = "LeaveMedicalCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageMedical = UploadImageAdmin("flScanImageMedical", applicantId, imgName);
                $("#hfdScanImageMedical").val(obj.imageMedical);
            }
            obj.imageMedical = ConvertToString($("#hfdScanImageMedical").val());

            if ($("#flScanImageForwarding").val()) {
                var imgName = "LeaveForwardingCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageForwarding = UploadImageAdmin("flScanImageForwarding", applicantId, imgName);
                $("#hfdScanImageForwarding").val(obj.imageForwarding);
            }
            obj.imageForwarding = ConvertToString($("#hfdScanImageForwarding").val());

            if ($("#flScanImageMaternity").val()) {
                var imgName = "LeaveMaternityCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageMaternity = UploadImageAdmin("flScanImageMaternity", applicantId, imgName);
                $("#hfdScanImageMaternity").val(obj.imageMaternity);
            }
            obj.imageMaternity = ConvertToString($("#hfdScanImageMaternity").val());

            if ($("#flScanImagePGAC").val()) {
                var imgName = "LeavePGACCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imagePGAC = UploadImageAdmin("flScanImagePGAC", applicantId, imgName);
                $("#hfdScanImagePGAC").val(obj.imagePGAC);
            }
            obj.imagePGAC = ConvertToString($("#hfdScanImagePGAC").val());

            if ($("#flScanImageSurety").val()) {
                var imgName = "LeaveSuretyCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageSurety = UploadImageAdmin("flScanImageSurety", applicantId, imgName);
                $("#hfdScanImageSurety").val(obj.imageSurety);
            }
            obj.imageSurety = ConvertToString($("#hfdScanImageSurety").val());
            ////////////////////////////////
            if ($("#flScanImageAttorney").val()) {
                var imgName = "Attorney" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageAttorney = UploadImageAdmin("flScanImageAttorney", applicantId, imgName);
                $("#hfdScanImageAttorney").val(obj.imageAttorney);
            }
            obj.imageAttorney = ConvertToString($("#hfdScanImageAttorney").val());

            if ($("#flScanImageVisa").val()) {
                var imgName = "Visa" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageVisa = UploadImageAdmin("flScanImageVisa", applicantId, imgName);
                $("#hfdScanImageVisa").val(obj.imageVisa);
            }
            obj.imageVisa = ConvertToString($("#hfdScanImageVisa").val());

            if ($("#flScanImagePurpose").val()) {
                var imgName = "Purpose" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imagePurpose = UploadImageAdmin("flScanImagePurpose", applicantId, imgName);
                $("#hfdScanImagePurpose").val(obj.imagePurpose);
            }
            obj.imagePurpose = ConvertToString($("#hfdScanImagePurpose").val());

            ////////////////////////////////
            obj.ddlDoxTaken = ConvertToInt($("#ddlDoxTaken").val());


            if (obj.remaks == "") {

                $("#txtRemarks").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtRemarks";
            }

            if (obj.dateStart == "") {

                $("#txtDateFrom").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtDateFrom";
            }

            if (obj.dateEnd == "" && obj.typeId != 6113) {

                $("#txtDateTo").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtDateTo";
            }

            if (obj.image == "") {

                $("#flScanImage").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flScanImage";
            }


            if (obj.typeId == 6111) {

                var a = $("#txtDateFrom").datepicker('getDate').getTime(),
                    b = $("#txtDateTo").datepicker('getDate').getTime(),
                    c = 24 * 60 * 60 * 1000,
                    diffDays = Math.round(Math.abs((a - b) / (c)));
                if (diffDays >= 5) {
                    if (obj.imageForwarding == "") {
                        $("#flScanImageForwarding").addClass("req-fld");
                        isError = true;
                        if (ctrl == "")
                            ctrl = "flScanImageForwarding";
                    }
                }
                else {
                    obj.imageForwarding == "";
                }
            }


            if (obj.typeId == 6112) {

                if (obj.imageMedical == "") {

                    $("#flScanImageMedical").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageMedical";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }
            }

            if (obj.typeId == 6113) {

                if (obj.imageMaternity == "") {

                    $("#flScanImageMaternity").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageMaternity";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }
                if (obj.eddString == "") {

                    $("#txtEdd").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "txtEdd";
                }
            }

            if (obj.typeId == 6114) {

                if (obj.imageAffidavit == "") {

                    $("#flScanImageAffidavit").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAffidavit";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }

                if (obj.imagePGAC == "") {

                    $("#flScanImagePGAC").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImagePGAC";
                }
                if (obj.imageSurety == "") {
                    $("#flScanImageSurety").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageSurety";
                }

                if (obj.imageAttorney == "") {
                    $("#flScanImageAttorney").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAttorney";
                }

                if (obj.imageVisa == "") {
                    $("#flScanImageVisa").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageVisa";
                }

                if (obj.imagePurpose == "") {
                    $("#flScanImagePurpose").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImagePurpose";
                }
            }

            if (obj.typeId == 6115 || obj.typeId == 6116) {

                if (obj.imageAffidavit == "") {

                    $("#flScanImageAffidavit").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAffidavit";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }

                if (obj.imagePGAC == "") {

                    $("#flScanImagePGAC").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImagePGAC";
                }
                if (obj.imageSurety == "") {
                    $("#flScanImageSurety").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageSurety";
                }

                if (obj.imageAttorney == "") {
                    $("#flScanImageAttorney").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAttorney";
                }

                if (obj.imageVisa == "") {
                    $("#flScanImageVisa").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageVisa";
                }

            }

            if (obj.typeId == 6117) {

                if (obj.imageAffidavit == "") {

                    $("#flScanImageAffidavit").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAffidavit";
                }

                if (obj.ddlDoxTaken == 0) {

                    $("#ddlDoxTaken").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "ddlDoxTaken";
                    alert("Original Documents must be captured");
                }
            }
            console.log(obj);

            //ddlDoxTaken
            return isError;
        }</script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Leave Application </h2>
            <div class="clearfix"></div>
        </div>
        <fieldset>
            <legend> Application Info  </legend>
            <div class="form-group col-lg-12">
                @{ var applicant = Model.applicant;
                    var info = Model.applicantInfo;
        <table style="width: 100%;" cellspacing="0px">
            <tbody>
                <tr style="float: left">
                    <th>
                        <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                        <h4 style="margin: 0px; font-size: 20px; margin-top:10px; ">Form No. : @applicant.applicantId</h4>
                    </th>
                </tr>
                <tr style="float: right">
                    <th>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
                    <table style="width: 100%;" cellspacing="0px">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="top_detail" style="width: 48%; float: left; margin-right:2%">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>@applicant.name</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>@applicant.emailId</td>
                                            </tr>
                                            <tr>
                                                <td>PMDC Number</td>
                                                <td> @applicant.pmdcNo <a class="ank" href="@("http://pmdc.org.pk//DesktopModules/pmdcDetails/PractDetail.aspx?RegistrationNo=" + @applicant.pmdcNo)" target="_blank"> View </a></td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth</td>
                                                <td>@info.dob.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>@info.address</td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC</td>
 }
                                else
                                {
                    <td>Passport</td>
}
                                                <td>@info.cnicNo</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Front Image</td>
 }
                                else
                                {
                    <td>Passport 1st Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td>Domicile Front Image</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                        </a>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <span class="ank spn-img-view">View</span>
                                        </a>
                                    </td>
                                </tr>
}
                                        </tbody>
                                    </table>
                                    <table class="top_detail" style="width: 49%; float: left;">
                                        <tbody>
                                            <tr>
                                                <td>Father Name</td>
                                                <td>@info.fatherName</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile No</td>
                                                <td>@applicant.contactNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Domicile</td>
                                                <td>@info.domicileProvince - @info.domicileDistrict</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>@info.gender</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Expiry Date</td>
 }
                                else
                                {
                    <td>Passport Expiry Date</td>
}
                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>

                                            <tr>
                                                <td>Nationality</td>
                                                @if (Model.applicantInfo.countryId == 132)
                                                {
                                    <td>Pakistan - @info.districtName</td>
 }
                                else
                                {
                    <td>@Model.applicantInfo.countryName - @info.districtName</td>
}
                                            </tr>
                                            <tr>
                                                <td>Last Date of PMDC</td>
                                                <td>@info.pmdcExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Back Image</td>
 }
                                else
                                {
                    <td>Passport 2nd Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Joining Date</td>
                                                <td>@Model.joinApplicant.joiningDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td> &nbsp;</td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> }
            </div>
        </fieldset>
        @if (Model.joinApplicant.applicantId > 0)
        {
    <fieldset>
        <legend> Professional Information  </legend>
        <div class="form-group col-lg-12">
            @Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })
            @Html.HiddenFor(m => m.joinApplicant.specialityJobId, new { @id = "hfdSpecialityJobId" })
            @Html.HiddenFor(m => m.typeId, new { @id = "hfdTypeId" })
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Program</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.typeName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Quota</label>
                <input type="text" id="txtName" name="btnSendEmail" value="@(Model.joinApplicant.quotaName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width: 100%;">Speciality</label>
                <input type="text" id="txtPMDCNo" name="btnSendEmail" value="@(Model.joinApplicant.specialityName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width:100%;">Hospital Name</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.hospitalName)" class="form-control" readonly="readonly" />
            </div>
        </div>
    </fieldset>

                    <fieldset>
                        <legend> Leaves Summary  </legend>
                        @{ int joiningYear = Convert.ToInt32(Model.joinApplicant.joiningDate.ToString("yyyy"));
                            int differenceYears = 2022 - joiningYear;
                            DateTime startOfThisYear;
                            if (Model.joinApplicant.joiningDate > DateTime.Now.AddYears(-1))
                            {
                                startOfThisYear = Model.joinApplicant.joiningDate;
                            }
                            else
                            {
                                int thisYear = 2023;
                                int diffOfYears = thisYear - joiningYear - 1;
                                startOfThisYear = Model.joinApplicant.joiningDate.AddYears(diffOfYears);
                            }

                            int leavesCasual = 0;
                            leavesCasual = Model.leaveDataList.Where(i => i.typeId == 6111).Select(i => i.noOfDays).Count();
                            int leavesMedical = 0;
                            leavesMedical = Model.leaveDataList.Where(i => i.typeId == 6112).Select(i => i.noOfDays).Count(); }


                        <div class="form-group col-lg-12">
                            <table border="1" style="width: 100%; font-size:large">
                                <tr>
                                    <td style="width: 200px">
                                        Maternity leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6113).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Hajj leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6116).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                @*<tr>
            <td style="width: 200px">
                Freezing Period
            </td>
            <td style="width: 200px">
                @Model.leaveDataList.Where(i => i.typeId == 6117).Select(i => i.noOfDays).Sum()  Days
            </td>
        </tr>*@
                                @for (int i = 0; i < differenceYears + 1; i++)
                                {
                                    if (DateTime.Now > Model.joinApplicant.joiningDate.AddYears(i))
                                    {
                            <tr>
                                <td colspan="2" style="font-weight: bold">
                                    @*Year @(joiningYear+i) - @(joiningYear+i-1999):*@
                                    Year 0@(i+1) (@Model.joinApplicant.joiningDate.AddYears(i).ToString("dd MMM yyyy") to @Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1).ToString("dd MMM yyyy"))
                                </td>
                            </tr>
                                                    <tr>
                                                        <td style="width: 200px">
                                                            Casual Leaves
                                                        </td>
                                                        <td style="width: 200px">
                                                            @Model.leaveDataList.Where(k => k.typeId == 6111 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1)).Select(k => k.noOfDays).Sum()   Days
                                                        </td>
                                                    </tr>
                                                                            <tr>
                                                                                <td style="width: 200px">
                                                                                    Medical Leaves
                                                                                </td>
                                                                                <td style="width: 200px">
                                                                                    @*@Model.leaveDataList.Where(k => k.typeId == 6112 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1)).Select(k => k.noOfDays).Sum()   Days*@
                                                                                    @Model.leaveDataList.Where(k => k.typeId == 6112 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1)).Select(k => k.noOfDays).Sum()   Days
                                                                                </td>
                                                                            </tr>

                                                                                                    <tr>
                                                                                                        <td style="width: 200px">
                                                                                                            Umrah Leaves
                                                                                                        </td>
                                                                                                        <td style="width: 200px">
                                                                                                            @Model.leaveDataList.Where(k => k.typeId == 6115 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1)).Select(k => k.noOfDays).Sum()   Days
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td style="width: 200px">
                                                                                                            Ex-Pakistan Leaves
                                                                                                        </td>
                                                                                                        <td style="width: 200px">
                                                                                                            @Model.leaveDataList.Where(k => k.typeId == 6114 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1).AddDays(-1)).Select(k => k.noOfDays).Sum()   Days
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    }

                                                                                                                    }
                            </table>
                        </div>




                    </fieldset>
                                    <fieldset id="fieldHistory">
                                        <legend id="legendHistory"> Leaves History  </legend>
                                        @foreach (var item in Model.leaveDataList)
                                        {
                        <div class="form-group col-lg-12 contentHistory" id="contentHistory">

                            @if (item.approver != "abc")
                            {
                            <table border="1" style="width:100%; text-align:center">
                                <tr>
                                    <td><label for="heard" style="width:100%;">Leave Type</label></td>
                                    <td><label for="heard" style="width:100%;">From</label></td>
                                    <td><label for="heard" style="width: 100%;">To</label></td>
                                    <td><label for="heard" style="width:100%;">Application</label></td>
                                    @if (item.imageForwarding != "")
                                    { 
                                        <td><label for="heard" style="width:100%;">Forwarding Letter (HOI)</label></td>
                                    }
                                    
                                    <td>
                                        <label for="heard" style="width: 100%;">Dated</label>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.typeName)</label></td>
                                    <td><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.startDate.ToString("dd-MM-yyyy"))</label></td>
                                    <td><label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.endDate.ToString("dd-MM-yyyy"))</label></td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)"  />
                                        </a>
                                    </td>
                                    @if (item.imageForwarding != "")
                                    { 
                                        <td>
                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" target="_blank" title="Click to view">
                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" alt="pdf" />
                                            </a>
                                        </td>
                                    }
                                
                                    <td>
                                        <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateRequested.ToString("dd-MM-yyyy"))</label>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-group col-lg-12">
                                @if (item.typeId == 6112)
                                {

                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label for="heard" style="width:100%;">Medical Certificate</label>
                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" target="_blank" title="Click to view">
                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" alt="pdf" />
                                </a>
                            </div> }
                                                    else if (item.typeId == 6113)
                                                    {
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label for="heard" style="width:100%;">Maternity Certificate</label>
                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" target="_blank" title="Click to view">
                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" alt="pdf" />
                                </a>
                            </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <label for="heard" style="width:100%;">EDD</label>
                                                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.edd.Value.ToString("dd-MM-yyyy"))</label>
                                                        </div> }
                                                                                else if (item.typeId == 6117)
                                                                                {
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
                                                            </a>
                                                        </div> }
                                                                                else if (item.typeId == 6114)
                                                                                {
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
                                                            </a>
                                                        </div>


                                                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                        <label for="heard" style="width:100%;">IPGAC Recommendation </label>
                                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" target="_blank" title="Click to view">
                                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" alt="pdf" />
                                                                                        </a>
                                                                                    </div>
                                                                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                    <label for="heard" style="width:100%;">Surety Bond</label>
                                                                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" target="_blank" title="Click to view">
                                                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" alt="pdf" />
                                                                                                                    </a>
                                                                                                                </div>
                                                                                                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                <label for="heard" style="width:100%;">Travel Itinerary</label>
                                                                                                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAttorney)" target="_blank" title="Click to view">
                                                                                                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAttorney)" alt="pdf" />
                                                                                                                                                </a>
                                                                                                                                            </div>
                                                                                                                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                            <label for="heard" style="width:100%;">Valid Visa</label>
                                                                                                                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageVisa)" target="_blank" title="Click to view">
                                                                                                                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageVisa)" alt="pdf" />
                                                                                                                                                                            </a>
                                                                                                                                                                        </div>
                                                                                                                                                                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                        <label for="heard" style="width:100%;">Purpse of Ex-Pakistan</label>
                                                                                                                                                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePurpose)" target="_blank" title="Click to view">
                                                                                                                                                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePurpose)" alt="pdf" />
                                                                                                                                                                                                        </a>
                                                                                                                                                                                                    </div> }

                                                                                                                                                                                                else if (item.typeId == 6115 || item.typeId == 6116)
                                                                                                                                                                                                {
                                                                                                                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                            <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
                                                                                                                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                                                                                                                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
                                                                                                                                                                            </a>
                                                                                                                                                                        </div>


                                                                                                                                                                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                        <label for="heard" style="width:100%;">IPGAC Recommendation </label>
                                                                                                                                                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" target="_blank" title="Click to view">
                                                                                                                                                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" alt="pdf" />
                                                                                                                                                                                                        </a>
                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                                                    <label for="heard" style="width:100%;">Surety Bond</label>
                                                                                                                                                                                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" target="_blank" title="Click to view">
                                                                                                                                                                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" alt="pdf" />
                                                                                                                                                                                                                                    </a>
                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                                                                                <label for="heard" style="width:100%;">Travel Itinerary</label>
                                                                                                                                                                                                                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAttorney)" target="_blank" title="Click to view">
                                                                                                                                                                                                                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAttorney)" alt="pdf" />
                                                                                                                                                                                                                                                                </a>
                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                                                                                                            <label for="heard" style="width:100%;">Valid Visa</label>
                                                                                                                                                                                                                                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageVisa)" target="_blank" title="Click to view">
                                                                                                                                                                                                                                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageVisa)" alt="pdf" />
                                                                                                                                                                                                                                                                                            </a>
                                                                                                                                                                                                                                                                                        </div> } @*<div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                                                                                                                <label for="heard" style="width: 100%;">Dated</label>
                                                                                                                                                                                                                                                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateRequested.ToString("dd-MM-yyyy"))</label>
                                                                                                                                                                                                                                                            </div>*@
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="heard" style="width:100%;">Remarks</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.remarksRequested)</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approval Status</label>
                                    @if (item.approvalStatus == 1)
                                    {
                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Approved</label>}
                                    else if (item.approvalStatus == 2)
                                    {
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Rejected</label> }
                                    else
                                    {
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Pending Approval</label>}

                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approval Date</label>
                                    @if (item.approver != " ")
                                    {
                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateApproved.ToString("dd-MM-yyyy"))</label>}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approved By</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approver)</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label for="heard" style="width:100%;"> Approval Remarks</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approvalRemarks)</label>
                                </div>
                                @if (item.forwardedTo == 1000)
                                { 
                            <div class="col-md-12 col-lg-12">
                                <fieldset style="background-color: lightcyan;">
                                    <legend>Modification Required</legend>
                                    <div class="form-group col-lg-12">
                                        <div col-md-12 col-sm-12 col-xs-12>
                                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 16px; text-decoration:underline"> Observations/Remarks</label>
                                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">" @(item.remarksByDS) "</label>
                                        </div>
                                        <hr />
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <label for="heard" style="width:100%;"> Action Required</label>
                                            <a id="ankEdit''@item.applicantLeaveId" class="ankEdit ank"><i class="fa fa-pencil-square-o"></i></a>&nbsp;|&nbsp;
                                            @*<a id="ankDel''@item.applicantLeaveId" class="ankDel ank"><i class="fa fa-trash-o"></i></a>*@

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                                    
                            
                                }
                                

                            </div>}
                        </div>}
                                    </fieldset>
                                                    <fieldset>
                                                        <legend> @Model.heading  </legend>
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            @if (Model.typeId != 11)
                                                            {
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Type *</label>
                                                                    <select id="ddlType" name="ddlType" class="form-control" tabindex="2">
                                                                        <option value="6111">Casual Leave</option>
                                                                        <option value="6112">Medical Leave</option>
                                                                        <option value="6113">Maternity Leave</option>
                                                                        <option value="6114">Ex-Pakistan Leave</option>
                                                                        <option value="6115">Umrah Leave</option>
                                                                        <option value="6116">Hajj Leave</option>
                                                                        @*<option value="6117">Freeze</option>*@
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Date From*</label>
                                                                    <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="dateToDiv" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Date To*</label>
                                                                    <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="2" />
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Leave Application *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImage" value="" />
                                                                    <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImage" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="forwarding" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Forwarding Letter (HOI) *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageForwarding" id="flScanImageForwarding" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageForwarding" value="" />
                                                                    <img id="imgScanImageForwarding" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageForwarding" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Affidavit" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Applicant Affidavit *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageAffidavit" id="flScanImageAffidavit" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageAffidavit" value="" />
                                                                    <img id="imgScanImageAffidavit" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageAffidavit" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="maternity" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Maternity Certificate *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageMaternity" id="flScanImageMaternity" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageMaternity" value="" />
                                                                    <img id="imgScanImageMaternity" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageMaternity" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="eddDiv" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">EDD*</label>
                                                                    <input type="text" id="txtEdd" name="txtEdd" class="form-control" tabindex="2" />
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="medical" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Medical Certificate *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageMedical" id="flScanImageMedical" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageMedical" value="" />
                                                                    <img id="imgScanImageMedical" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageMedical" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="pgac" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">IPGAC Recommendation *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImagePGAC" id="flScanImagePGAC" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImagePGAC" value="" />
                                                                    <img id="imgScanImagePGAC" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImagePGAC" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Surety" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Surety Bond *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageSurety" id="flScanImageSurety" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageSurety" value="" />
                                                                    <img id="imgScanImageSurety" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageSurety" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Attorney" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Travel Itinerary *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageAttorney" id="flScanImageAttorney" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageAttorney" value="" />
                                                                    <img id="imgScanImageAttorney" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageAttorney" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Visa" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Valid Visa *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageVisa" id="flScanImageVisa" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageVisa" value="" />
                                                                    <img id="imgScanImageVisa" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageVisa" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Purpose" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Purpose of Ex-Pakistan Visit *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImagePurpose" id="flScanImagePurpose" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImagePurpose" value="" />
                                                                    <img id="imgScanImagePurpose" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImagePurpose" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="ddlDox" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Documents Captured *</label>
                                                                    <select id="ddlDoxTaken" name="ddlDoxTaken" class="form-control" tabindex="2">
                                                                        <option value="0">Not Captured</option>
                                                                        <option value="1">Captured</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="ddlRTMC" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">RTMC/UHS </label>
                                                                    <input type="file" class="form-control flup" name="flScanImageRTMC" id="flScanImageRTMC" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageRTMC" value="" />
                                                                    <img id="imgScanImageRTMC" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageRTMC" class="removeImageRTMC" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                            </div> }
                                        else
                                        {
                        <div class="form-group col-lg-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">Start Date *</label>
                                <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">End Date *</label>
                                <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label style="float: left; clear: both; width: 100%;">Image *</label>
                                <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="2" />
                                <input type="hidden" id="hfdScanImage" value="" />
                                <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                <a id="rmvScanImage" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                            </div>
                        </div>}
                                                            <div class="form-group col-lg-12" style="padding-top:20px">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label for="heard" style="width:100%;">Remarks *</label>
                                                                    <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" tabindex="3" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                    <label for="heard" style="width:100%;">&nbsp;</label>
                                                                    <input type="button" id="btnSave" name="submit" class="btn btn-success" value="Save" tabindex="4" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </fieldset> }
                                                else
                                                {
                                    <fieldset>
                                        <legend> Action Info  </legend>
                                        <div>
                                            <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                                                <span> Data Not Eixts</span>
                                            </div>
                                        </div>
                                    </fieldset>}

    </div>
</div>