@{ ViewBag.Title = "Hospital - Applicant Joining";
                Layout = "~/Areas/nadmin/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ApplicantActionAdminModel
@section RenderCss{

    <style>
        .jumbotron {
            padding: 10px 15px;
        }

        .imgView {
            height: 40px;
            width: 70px;
        }
    </style>

}
@section RenderScript{

    <script>var applicantId = 0, obj = {}, typeId = 1, leaveTypeId = 0;
        $(document).ready(function () {

            $('#fieldHistory .contentHistory').hide();
            $('#legendHistory').click(function () {
                $(this).parent().find('.contentHistory').slideToggle("slow");
            });

            applicantId = ConvertToInt($("#hfdApplicantId").val());

            typeId = ConvertToInt($("#hfdTypeId").val());
            if (typeId == 0)
                ConvertToInt($("#hfdTypeId").val(1));

            $("#Affidavit").hide();
            $("#maternity").hide();
            $("#medical").hide();
            $("#forwarding").hide();
            $("#Surety").hide();
            $("#pgac").hide();
            $("#ddlDox").hide();

            $("#ddlType").change(function () {
                leaveTypeId = ConvertToInt($("#ddlType").val());
                if (leaveTypeId == 6111) {
                    $("#Affidavit").hide();
                    $("#maternity").hide();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                    $("#forwarding").hide();
                }
                else if (leaveTypeId == 6112) {
                    $("#Affidavit").hide();
                    $("#maternity").hide();
                    $("#medical").show();
                    $("#forwarding").show();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                }
                else if (leaveTypeId == 6113) {
                    $("#Affidavit").hide();
                    $("#maternity").show();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                }
                else if (leaveTypeId == 6117) {
                    $("#Affidavit").show();
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").hide();
                    $("#ddlDox").show();
                    $("#dateToDiv").show();
                    $("#Surety").hide();
                }
                else {
                    $("#Affidavit").show();
                    $("#maternity").hide();
                    $("#forwarding").show();
                    $("#medical").hide();
                    $("#pgac").show();
                    $("#ddlDox").hide();
                    $("#dateToDiv").show();
                    $("#Surety").show();
                }
            });

            

            


            var dateFormatDatePocker = 'dd/mm/yyyy';


            $("#txtDateFrom").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                //setDate: new Date(),
                //startDate: new Date()
            });

            $("#txtDateTo").datepicker({
                format: dateFormatDatePocker,
                autoclose: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                todayHighlight: true,
                showOnFocus: true,
                changeYear: true,
                //setDate: new Date(),
                //startDate: new Date()
            });



            $(document).on('click', '#ddlType', function () {

                $("#hfdTypeId").val($("#ddlType").val());

            });

            $(document).on('click', '#btnSave', function () {
                SaveApplicantAction();
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    SaveApplicantAction();
                }
            });

        });

        function SaveApplicantAction() {

            if (ValidateFormJoining() == false) {

                var resp = CallActionPost("/ApplicantAction/LeaveSetupSave", obj);

                if (resp != null && resp.status == true) {
                    alert("Data saved successfully")
                    window.location = "/admin/leave-applicant-listing";
                }
                else {
                    if (resp.msg != null) {
                        alert(resp.msg);
                    }
                    else {
                        alert(resp.msg.msg);
                    }
                    
                }
            }
            else {
                alert("Wrong");
            }
        }

        function epoch(date) {
            return Date.parse(date)
        }

        function ValidateFormJoining() {

            var isError = false, ctrl = "";

            obj = {};
            obj.applicantId = ConvertToInt($("#hfdApplicantId").val());
            obj.actionId = ConvertToInt($("#hfdActionId").val());
            obj.typeId = ConvertToInt($("#ddlType").val());
            
            obj.categoryId = 0;
            obj.specialityJobId = ConvertToInt($("#hfdSpecialityJobId").val());
            obj.dateStart = ConvertToString($("#txtDateFrom").val());
            if (obj.typeId == 6113) {
                //var date2 = $("#txtDateFrom").datepicker('getDate');

                //var lastDay = new Date();
                //lastDay.setDate(date2.getDate() + 89);
                //const today = lastDay;
                //const yyyy = today.getFullYear();
                //let mm = today.getMonth() + 1; // Months start at 0!
                //let dd = today.getDate();

                //if (dd < 10) dd = '0' + dd;
                //if (mm < 10) mm = '0' + mm;

                //const formattedToday = dd + '/' + mm + '/' + yyyy;
                //obj.dateEnd = ConvertToString(formattedToday);
                obj.dateEnd = ConvertToString($("#txtDateTo").val());
            }
            else {
                obj.dateEnd = ConvertToString($("#txtDateTo").val());
            }
            obj.statusId = 1;
            obj.remarks = ConvertToString($("#txtRemarks").val());
            var dateToday = new Date(); // Mon Jun 08 2020 16:47:55 GMT+0800 (China Standard Time)
            var timestamp = epoch(dateToday);
            if ($("#flScanImage").val()) {

                var imgName = "Leave" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.image = UploadImageAdmin("flScanImage", applicantId, imgName);
                $("#hfdScanImage").val(obj.image);
            }
            obj.image = ConvertToString($("#hfdScanImage").val());

            if ($("#flScanImageAffidavit").val()) {
                var imgName = "LeaveCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageAffidavit = UploadImageAdmin("flScanImageAffidavit", applicantId, imgName);
                $("#hfdScanImageAffidavit").val(obj.imageAffidavit);
            }
            obj.imageAffidavit = ConvertToString($("#hfdScanImageAffidavit").val());

            if ($("#flScanImageMedical").val()) {
                var imgName = "LeaveMedicalCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageMedical = UploadImageAdmin("flScanImageMedical", applicantId, imgName);
                $("#hfdScanImageMedical").val(obj.imageMedical);
            }
            obj.imageMedical = ConvertToString($("#hfdScanImageMedical").val());

            if ($("#flScanImageForwarding").val()) {
                var imgName = "LeaveForwardingCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageForwarding = UploadImageAdmin("flScanImageForwarding", applicantId, imgName);
                $("#hfdScanImageForwarding").val(obj.imageForwarding);
            }
            obj.imageForwarding = ConvertToString($("#hfdScanImageForwarding").val());

            if ($("#flScanImageMaternity").val()) {
                var imgName = "LeaveMaternityCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageMaternity = UploadImageAdmin("flScanImageMaternity", applicantId, imgName);
                $("#hfdScanImageMaternity").val(obj.imageMaternity);
            }
            obj.imageMaternity = ConvertToString($("#hfdScanImageMaternity").val());

            if ($("#flScanImagePGAC").val()) {
                var imgName = "LeavePGACCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imagePGAC = UploadImageAdmin("flScanImagePGAC", applicantId, imgName);
                $("#hfdScanImagePGAC").val(obj.imagePGAC);
            }
            obj.imagePGAC = ConvertToString($("#hfdScanImagePGAC").val());

            if ($("#flScanImageSurety").val()) {
                var imgName = "LeaveSuretyCert" + "_" + obj.typeId + "_" + obj.applicantId + "_" + timestamp;
                obj.imageSurety = UploadImageAdmin("flScanImageSurety", applicantId, imgName);
                $("#hfdScanImageSurety").val(obj.imageSurety);
            }
            obj.imageSurety = ConvertToString($("#hfdScanImageSurety").val());
            
            obj.ddlDoxTaken = ConvertToInt($("#ddlDoxTaken").val());


            if (obj.remaks == "") {

                $("#txtRemarks").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtRemarks";
            }

            if (obj.dateStart == "") {

                $("#txtDateFrom").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtDateFrom";
            }

            if (obj.dateEnd == "") {

                $("#txtDateTo").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "txtDateTo";
            }

            if (obj.image == "") {

                $("#flScanImage").addClass("req-fld");
                isError = true;
                if (ctrl == "")
                    ctrl = "flScanImage";
            }

            if (obj.typeId == 6112) {

                if (obj.imageMedical == "") {

                    $("#flScanImageMedical").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageMedical";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }
            }

            if (obj.typeId == 6113) {

                if (obj.imageMaternity == "") {

                    $("#flScanImageMaternity").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageMaternity";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }
            }

            if (obj.typeId == 6114 || obj.typeId == 6115 || obj.typeId == 6116) {

                if (obj.imageAffidavit == "") {

                    $("#flScanImageAffidavit").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAffidavit";
                }
                if (obj.imageForwarding == "") {
                    $("#flScanImageForwarding").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageForwarding";
                }

                if (obj.imagePGAC == "") {

                    $("#flScanImagePGAC").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImagePGAC";
                }
                if (obj.imageSurety == "") {
                    $("#flScanImageSurety").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageSurety";
                }
            }

            if (obj.typeId == 6117) {

                if (obj.imageAffidavit == "") {

                    $("#flScanImageAffidavit").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "flScanImageAffidavit";
                }

                if (obj.ddlDoxTaken == 0) {

                    $("#ddlDoxTaken").addClass("req-fld");
                    isError = true;
                    if (ctrl == "")
                        ctrl = "ddlDoxTaken";
                    alert("Original Documents must be captured");
                }
            }
            console.log(obj);

            //ddlDoxTaken
            return isError;
        }</script>
}
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Leave Application </h2>
            <div class="clearfix"></div>
        </div>
        <fieldset>
            <legend> Application Info  </legend>
            <div class="form-group col-lg-12">
                @{ var applicant = Model.applicant;
                    var info = Model.applicantInfo;
        <table style="width: 100%;" cellspacing="0px">
            <tbody>
                <tr style="float: left">
                    <th>
                        <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                        <h4 style="margin: 0px; font-size: 20px; margin-top:10px; ">Form No. : @applicant.applicantId</h4>
                    </th>
                </tr>
                <tr style="float: right">
                    <th>
                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
                    <table style="width: 100%;" cellspacing="0px">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="top_detail" style="width: 48%; float: left; margin-right:2%">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>@applicant.name</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>@applicant.emailId</td>
                                            </tr>
                                            <tr>
                                                <td>PMDC Number</td>
                                                <td> @applicant.pmdcNo <a class="ank" href="@("http://pmdc.org.pk//DesktopModules/pmdcDetails/PractDetail.aspx?RegistrationNo=" + @applicant.pmdcNo)" target="_blank"> View </a></td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth</td>
                                                <td>@info.dob.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>@info.address</td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC</td>
 }
                                else
                                {
                    <td>Passport</td>
}
                                                <td>@info.cnicNo</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Front Image</td>
 }
                                else
                                {
                    <td>Passport 1st Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td>Domicile Front Image</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                        </a>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                            <span class="ank spn-img-view">View</span>
                                        </a>
                                    </td>
                                </tr>
}
                                        </tbody>
                                    </table>
                                    <table class="top_detail" style="width: 49%; float: left;">
                                        <tbody>
                                            <tr>
                                                <td>Father Name</td>
                                                <td>@info.fatherName</td>
                                            </tr>
                                            <tr>
                                                <td>Mobile No</td>
                                                <td>@applicant.contactNumber</td>
                                            </tr>
                                            <tr>
                                                <td>Domicile</td>
                                                <td>@info.domicileProvince - @info.domicileDistrict</td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>@info.gender</td>
                                            </tr>

                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Expiry Date</td>
 }
                                else
                                {
                    <td>Passport Expiry Date</td>
}
                                                <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>

                                            <tr>
                                                <td>Nationality</td>
                                                @if (Model.applicantInfo.countryId == 132)
                                                {
                                    <td>Pakistan - @info.districtName</td>
 }
                                else
                                {
                    <td>@Model.applicantInfo.countryName - @info.districtName</td>
}
                                            </tr>
                                            <tr>
                                                <td>Last Date of PMDC</td>
                                                <td>@info.pmdcExpiryDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                @if (info.countryId == 132)
                                                {
                                    <td>CNIC Back Image</td>
 }
                                else
                                {
                    <td>Passport 2nd Page Image</td>
}
                                                <td>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                    </a>
                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                        <span class="ank spn-img-view">View</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Joining Date</td>
                                                <td>@Model.joinApplicant.joiningDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                            @if (info.countryId == 132)
                                            {
                                <tr>
                                    <td> &nbsp;</td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table> }
            </div>
        </fieldset>
        @if (Model.joinApplicant.applicantId > 0)
        {
    <fieldset>
        <legend> Professional Information  </legend>
        <div class="form-group col-lg-12">
            @Html.HiddenFor(m => m.joinApplicant.applicantId, new { @id = "hfdApplicantId" })
            @Html.HiddenFor(m => m.joinApplicant.specialityJobId, new { @id = "hfdSpecialityJobId" })
            @Html.HiddenFor(m => m.typeId, new { @id = "hfdTypeId" })
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Program</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.typeName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label for="heard" style="width:100%;">Quota</label>
                <input type="text" id="txtName" name="btnSendEmail" value="@(Model.joinApplicant.quotaName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width: 100%;">Speciality</label>
                <input type="text" id="txtPMDCNo" name="btnSendEmail" value="@(Model.joinApplicant.specialityName)" class="form-control" readonly="readonly" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label for="heard" style="width:100%;">Hospital Name</label>
                <input type="text" id="txtFormNo" name="btnSendEmail" value="@(Model.joinApplicant.hospitalName)" class="form-control" readonly="readonly" />
            </div>
        </div>
    </fieldset>

                    <fieldset>
                        <legend> Leaves Summary  </legend>
                        @{ int joiningYear = Convert.ToInt32(Model.joinApplicant.joiningDate.ToString("yyyy"));
                            int differenceYears = 2022 - joiningYear;
                            DateTime startOfThisYear;
                            if (Model.joinApplicant.joiningDate > DateTime.Now.AddYears(-1))
                            {
                                startOfThisYear = Model.joinApplicant.joiningDate;
                            }
                            else
                            {
                                int thisYear = 2022;
                                int diffOfYears = thisYear - joiningYear - 1;
                                startOfThisYear = Model.joinApplicant.joiningDate.AddYears(diffOfYears);
                            }

                            int leavesCasual = 0;
                            leavesCasual = Model.leaveDataList.Where(i => i.typeId == 6111).Select(i => i.noOfDays).Count();
                            int leavesMedical = 0;
                            leavesMedical = Model.leaveDataList.Where(i => i.typeId == 6112).Select(i => i.noOfDays).Count(); }


                        <div class="form-group col-lg-12">
                            <table border="1" style="width: 100%; font-size:large">
                                <tr>
                                    <td style="width: 200px">
                                        Maternity leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6113).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Umrah leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6115).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Hajj leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6116).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Ex-Pakistan leaves
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6114).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Freezing Period
                                    </td>
                                    <td style="width: 200px">
                                        @Model.leaveDataList.Where(i => i.typeId == 6117).Select(i => i.noOfDays).Sum()  Days
                                    </td>
                                </tr>
                                @for (int i = 0; i < differenceYears + 1; i++)
                                {
                                    if (DateTime.Now > Model.joinApplicant.joiningDate.AddYears(i))
                                    {
                <tr>
                    <td colspan="2" style="font-weight: bold">
                        @*Year @(joiningYear+i) - @(joiningYear+i-1999):*@
                        Year 0@(i+1) (@Model.joinApplicant.joiningDate.AddYears(i).ToString("dd MMM yyyy") to @Model.joinApplicant.joiningDate.AddYears(i + 1).ToString("dd MMM yyyy"))
                    </td>
                </tr>
                                        <tr>
                                            <td style="width: 200px">
                                                Casual Leaves
                                            </td>
                                            <td style="width: 200px">
                                                @Model.leaveDataList.Where(k => k.typeId == 6111 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1)).Select(k => k.noOfDays).Sum()   Days
                                            </td>
                                        </tr>
                                                                <tr>
                                                                    <td style="width: 200px">
                                                                        Medical Leaves
                                                                    </td>
                                                                    <td style="width: 200px">
                                                                        @Model.leaveDataList.Where(k => k.typeId == 6112 && k.startDate >= Model.joinApplicant.joiningDate.AddYears(i) && k.endDate <= Model.joinApplicant.joiningDate.AddYears(i + 1)).Select(k => k.noOfDays).Sum()   Days
                                                                    </td>
                                                                </tr>
}

                                                        }
                            </table>
                        </div>




                    </fieldset>
                                    <fieldset id="fieldHistory">
                                        <legend id="legendHistory"> Leaves History  </legend>
                                        @foreach (var item in Model.leaveDataList)
                                        {
                        <div class="form-group col-lg-12 contentHistory" id="contentHistory">

                            @if (item.approver != "abc")
                            {
                            <div class="form-group col-lg-12">
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width:100%;">Leave Type</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.typeName)</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width:100%;">From</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.startDate.ToString("dd-MM-yyyy"))</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">To</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.endDate.ToString("dd-MM-yyyy"))</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width:100%;">Application</label>
                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)" target="_blank" title="Click to view">
                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.image)" />
                                    </a>
                                </div>
                                @if (item.typeId == 6112)
                                {
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <label for="heard" style="width:100%;">Medical Certificate</label>
                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" target="_blank" title="Click to view">
                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMedical)" alt="pdf" />
                                </a>
                            </div>
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <label for="heard" style="width:100%;">Forwarding Letter</label>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" alt="pdf" />
                                                            </a>
                                                        </div> }
                                                                                else if (item.typeId == 6113)
                                                                                {
                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                            <label for="heard" style="width:100%;">Maternity Certificate</label>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageMaternity)" alt="pdf" />
                                                            </a>
                                                        </div>
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                        <label for="heard" style="width:100%;">Forwarding Letter</label>
                                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" target="_blank" title="Click to view">
                                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" alt="pdf" />
                                                                                        </a>
                                                                                    </div> }
                                                                                                            else if (item.typeId == 6117)
                                                                                                            {
                                                                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                        <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
                                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
                                                                                        </a>
                                                                                    </div>
                                                                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                    <label for="heard" style="width:100%;">Forwarding Letter</label>
                                                                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" target="_blank" title="Click to view">
                                                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" alt="pdf" />
                                                                                                                    </a>
                                                                                                                </div> }
                                                                                                                                        else if (item.typeId == 6114 || item.typeId == 6115 || item.typeId == 6116)
                                                                                                                                        {
                                                                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                    <label for="heard" style="width:100%;">Affidavit/Undertaking </label>
                                                                                                                    <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" target="_blank" title="Click to view">
                                                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageAffidavit)" alt="pdf" />
                                                                                                                    </a>
                                                                                                                </div>
                                                                                                                                            <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                <label for="heard" style="width:100%;">Forwarding Letter</label>
                                                                                                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" target="_blank" title="Click to view">
                                                                                                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageForwarding)" alt="pdf" />
                                                                                                                                                </a>
                                                                                                                                            </div>

                                                                                                                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                            <label for="heard" style="width:100%;">PGAC Recommendation </label>
                                                                                                                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" target="_blank" title="Click to view">
                                                                                                                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imagePGAC)" alt="pdf" />
                                                                                                                                                                            </a>
                                                                                                                                                                        </div>
                                                                                                                                                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                                                                                                                                                            <label for="heard" style="width:100%;">Surety Bond</label>
                                                                                                                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" target="_blank" title="Click to view">
                                                                                                                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + item.imageSurety)" alt="pdf" />
                                                                                                                                                                            </a>
                                                                                                                                                                        </div>
                                                                                                                                                                        }
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Dated</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateRequested.ToString("dd-MM-yyyy"))</label>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label for="heard" style="width:100%;">Remarks</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.remarksRequested)</label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approval Status</label>
                                    @if (item.approvalStatus == 1)
                                    {
                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Approved</label> }
                        else
                        {
                            <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">Not Approved</label>}

                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approval Date</label>
                                    @if (item.approver != " ")
                                    {
                                <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.dateApproved.ToString("dd-MM-yyyy"))</label>}
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <label for="heard" style="width: 100%;">Approved By</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approver)</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label for="heard" style="width:100%;"> Approval Remarks</label>
                                    <label for="heard" style="width: 100%; font-weight: bolder; font-size: 14px;">@(item.approvalRemarks)</label>
                                </div>
                                <hr class="solid" style="margin-top: 180px !important; border-top: 1px solid rgba(0,0,0,1) !important;  ">

                            </div>}
                        </div>}
                                    </fieldset>
                                                    <fieldset>
                                                        <legend> @Model.heading  </legend>
                                                        <form class="form-horizontal form-label-left input_mask">
                                                            @if (Model.typeId != 11)
                                                            {
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Type *</label>
                                                                    <select id="ddlType" name="ddlType" class="form-control" tabindex="2">
                                                                        <option value="6111">Casual Leave</option>
                                                                        <option value="6112">Medical Leave</option>
                                                                        <option value="6113">Maternity Leave</option>
                                                                        <option value="6114">Ex-Pakistan Leave</option>
                                                                        <option value="6115">Umrah Leave</option>
                                                                        <option value="6116">Hajj Leave</option>
                                                                        <option value="6117">Freeze</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Date From*</label>
                                                                    <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="dateToDiv" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Date To*</label>
                                                                    <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="2" />
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Leave Application *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImage" value="" />
                                                                    <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImage" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="forwarding" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Forwarding Letter *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageForwarding" id="flScanImageForwarding" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageForwarding" value="" />
                                                                    <img id="imgScanImageForwarding" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageForwarding" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Affidavit" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Application Affidavit *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageAffidavit" id="flScanImageAffidavit" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageAffidavit" value="" />
                                                                    <img id="imgScanImageAffidavit" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageAffidavit" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="maternity" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Maternity Certificate *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageMaternity" id="flScanImageMaternity" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageMaternity" value="" />
                                                                    <img id="imgScanImageMaternity" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageMaternity" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="medical" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Medical Certificate *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageMedical" id="flScanImageMedical" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageMedical" value="" />
                                                                    <img id="imgScanImageMedical" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageMedical" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>

                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="pgac" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">PGAC Recommendation *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImagePGAC" id="flScanImagePGAC" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImagePGAC" value="" />
                                                                    <img id="imgScanImagePGAC" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImagePGAC" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="Surety" style="padding-top:20px">
                                                                    <label style="float: left; clear: both; width: 100%;">Surety Bond *</label>
                                                                    <input type="file" class="form-control flup" name="flScanImageSurety" id="flScanImageSurety" tabindex="3" />
                                                                    <input type="hidden" id="hfdScanImageSurety" value="" />
                                                                    <img id="imgScanImageSurety" class="flup-img" src="" alt="" style="display:none;" />
                                                                    <a id="rmvScanImageSurety" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                                                                </div>
                                                                <div class="col-md-4 col-sm-4 col-xs-4" id="ddlDox" style="padding-top:20px">
                                                                    <label for="heard" style="width:100%;">Documents Captured *</label>
                                                                    <select id="ddlDoxTaken" name="ddlDoxTaken" class="form-control" tabindex="2">
                                                                        <option value="0">Not Captured</option>
                                                                        <option value="1">Captured</option>
                                                                    </select>
                                                                </div>

                                                            </div> }
                                        else
                                        {
                        <div class="form-group col-lg-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">Start Date *</label>
                                <input type="text" id="txtDateFrom" name="txtDateFrom" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label for="heard" style="width:100%;">End Date *</label>
                                <input type="text" id="txtDateTo" name="txtDateTo" class="form-control" tabindex="1" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <label style="float: left; clear: both; width: 100%;">Image *</label>
                                <input type="file" class="form-control flup" name="flScanImage" id="flScanImage" tabindex="2" />
                                <input type="hidden" id="hfdScanImage" value="" />
                                <img id="imgScanImage" class="flup-img" src="" alt="" style="display:none;" />
                                <a id="rmvScanImage" class="removeImage" style="display:none;"><i class="fa fa-window-close"></i></a>
                            </div>
                        </div>}
                                                            <div class="form-group col-lg-12" style="padding-top:20px">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label for="heard" style="width:100%;">Remarks *</label>
                                                                    <input type="text" id="txtRemarks" name="txtRemarks" class="form-control" tabindex="3" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-12">
                                                                <div class="col-md-2 col-sm-2 col-xs-2">
                                                                    <label for="heard" style="width:100%;">&nbsp;</label>
                                                                    <input type="button" id="btnSave" name="submit" class="btn btn-success" value="Save" tabindex="4" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </fieldset> }
                                                else
                                                {
                                    <fieldset>
                                        <legend> Action Info  </legend>
                                        <div>
                                            <div class="alert alert-danger alert-dismissible show" role="alert" style="clear:both;">
                                                <span> Data Not Eixts</span>
                                            </div>
                                        </div>
                                    </fieldset>}

    </div>
</div>