@{ ViewBag.Title = "Application Proof Reading";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@model Prp.Sln.ProofReadingModel
@section RenderCss{

    <style>

        td span {
            line-height: 18px;
        }


        #divprint {
            width: 100%;
            margin: 0 auto;
            margin-top: 15px;
            font-family: 'Lato', sans-serif !important;
        }

        .btn_print {
            padding: 10px 40px;
            background-color: #48a0d7;
            border-radius: 5px
        }

        .ank {
            cursor: pointer;
        }

        .spn-img-view {
            font-style: italic;
        }

        .spn-edit {
            float: right;
            margin-right: 5px;
            padding: 1px 6px;
            background: #fefefe;
            color: #8b8686;
        }

            .spn-edit:hover {
                background: #e9e0e0;
            }

        .imgView {
            width: 60px;
            height: 40px;
            border: 1px solid #ede9e9;
            width: 30px;
            height: 20px;
        }


        .text-center {
            text-align: center;
            text-align: -webkit-center;
            text-align: -moz-center;
        }

        .top_detail tr td:nth-child(2n) {
            border-bottom: 1px solid #000;
        }

        h3.heading {
            border-bottom: 1px solid;
            padding-bottom: 10px;
        }
    </style>
}
@section RenderScript{

    <script>

        var applicantId = 0, objApplicant = {}, imagesPath = "";

        $(document).ready(function () {

            applicantId = ConvertToInt($("#hfdApplicantId").val());

            $(document).on('click', '#ankSubmit', function () {

                var isConfirm = $("#chkConfirm").is(':checked');
                if (isConfirm) {

                    CallActionGet("/ApplicantProfile/UpdateApplicantStatus?applicantId=" + applicantId
                        + "&applicationStatus=8&condition=applicationStatus");
                    window.location = "/application-completed";
                }
                else {

                    alert("Please select agree information");
                }
            });
        });
    </script>
}
<div class="container" style=" margin-bottom:60px;">
    <div class="row main">
        <div class="col-sm-12 form-box">
            <div class="main-login main-center">
                <form class="form-horizontal">
                    <h3 class="heading" style="display:none;">
                        Important Note: Please ensure the correctness of information before Accept and Submit.
                        <span> Once submitted the information cannot be edited / changed </span>

                    </h3>
                    <a class="ank spn-edit" href="/applicant-profile">
                        <i class="fa fa-pencil black"></i>  Edit
                    </a>
                    <div>
                        <div id="divprint" class="container cv-f" style="font-size:14px !important; ">
                            @{ var applicant = Model.applicant;
                                            var info = Model.applicantInfo;

                                            var degree = Model.degree;

                                            decimal marksDegree = 0;
                                            decimal marksDMC = 0;
                                            decimal marksHouseJob = 0;

                                            decimal marksExperience = 0;
                                            decimal marksDistinction = 0;

                                            decimal marksResearchPaper = 0;

                                <table style="width: 100%;" cellspacing="0px">
                                    <tbody>
                                        <tr style="float: left">
                                            <th>
                                                <h4 style="margin: 0px; font-size: 35px; border-bottom: 2px solid #000;">@applicant.name</h4>
                                                <h4 style="margin: 0px; font-size: 20px; margin-top:8px; ">Form No: @applicant.applicantId</h4>
                                            </th>
                                        </tr>
                                        <tr style="float: right">
                                            <th>
                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" target="_blank" title="Click to view">
                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + applicant.pic)" style="width:90px; height:80px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                            <table style="width: 100%;" cellspacing="0px">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <table class="top_detail" style="width: 49%; float: left; margin-right:1%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Name of Applicant</td>
                                                                        <td>@applicant.name</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Email</td>
                                                                        <td>@applicant.emailId</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Date of Birth</td>
                                                                        <td>@info.dob.ToString("dd MMM yyyy")</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>PMDC/PMC License Number</td>
                                                                        <td>
                                                                            @applicant.pmdcNo
                                                                            <a class="ank" href="@("https://pmc.gov.pk/Doctors/Details?regNo="+@applicant.pmdcNo)" target="_blank"> View </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Graduation Country</td>
                                                                        <td>@info.countryDegreePassing</td>
                                                                    </tr>
                                                                    <tr>
                                                                        @if (info.countryId == 132)
                                                                        {
                                                            <td>CNIC Number of Applicant</td>
 }
                                                        else
                                                        {
                                                <td>Passport</td>
}
                                                                        <td>@info.cnicNo</td>
                                                                    </tr>
                                                                    <tr>
                                                                        @if (info.countryId == 132)
                                                                        {
                                                            <td>CNIC Front side Image</td>
 }
                                                        else
                                                        {
                                                <td>Passport 1st Page</td>
}
                                                                        <td>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" />
                                                                            </a>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicFront)" target="_blank" title="Click to view">
                                                                                <span class="ank spn-img-view">View</span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Disability</td>
                                                                        @if (!String.IsNullOrWhiteSpace(info.disableImage))
                                                                        {
                                                            <td>
                                                                @info.disable - <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.disableImage)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
 }
                                                        else
                                                        {
                                                <td> @info.disable</td>
}
                                                                    </tr>
                                                                    <tr>
                                                                        <td>FCPS Exemption Status</td>
                                                                        @if (degree.fcpsExemptionStatus)
                                                                        {
                                                            <td>
                                                                YES
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.fcpsExemptionCertificate)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.fcpsExemptionCertificate)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.fcpsExemptionCertificate)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
 }
                                                        else
                                                        {
                                                <td>NO</td>
}
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table class="top_detail" style="width: 49%; float: left;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Father/Husband Name</td>
                                                                        <td>@info.fatherName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Mobile Number of Applicant</td>
                                                                        <td>@applicant.contactNumber</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Gender</td>
                                                                        <td>@info.gender</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>PMDC/PMC License Validity</td>
                                                                        <td>@info.pmdcExpiryDate.ToString("dd MMM yyyy")</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Nationality of Applicant</td>
                                                                        <td>@info.countryName - @info.districtName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        @if (info.countryId == 132)
                                                                        {
                                                            <td>CNIC Expiry Date</td>
 }
                                                        else
                                                        {
                                                <td>Passport Expiry Date</td>
}
                                                                        <td>@info.cnicExpiryDate.ToString("dd MMM yyyy")</td>
                                                                    </tr>
                                                                    <tr>
                                                                        @if (info.countryId == 132)
                                                                        {
                                                            <td>CNIC Back side Image</td>
 }
                                                        else
                                                        {
                                                <td>Passport 2nd Page</td>
}
                                                                        <td>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                                <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" />
                                                                            </a>
                                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.cnicPicBack)" target="_blank" title="Click to view">
                                                                                <span class="ank spn-img-view">View</span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    @if (info.countryId == 132)
                                                                    {
                                                        <tr>
                                                            <td>Domicile</td>
                                                            <td>
                                                                @info.domicileProvince - @info.domicileDistrict -
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + info.domicilePicFront)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>
}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table class="top_detail" style="width: 100%; float: left;">
                                                                <tr>
                                                                    <td style="width: 17.5%; float: left;">Postal Address</td>
                                                                    <td style="width: 80%; float: left;">@info.address</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table class="top_detail" style="width: 100%; float: left;">
                                                                <tr>
                                                                    <td style="width: 17.5%; float: left;">District of Current Residence</td>
                                                                    <td style="width: 80%; float: left;">@info.districtName</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table> {
                                                            if (Model.listMarks != null && Model.listMarks.Count > 0)
                                                            {
                                                                try
                                                                {
                                                                    marksDegree = Model.listMarks.Where(x => x.marksType == 1).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }
                                                                try
                                                                {
                                                                    marksDMC = Model.listMarks.Where(x => x.marksType == 2).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }


                                                                try
                                                                {
                                                                    marksHouseJob = Model.listMarks.Where(x => x.marksType == 4).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }

                                                                try
                                                                {
                                                                    marksExperience = Model.listMarks.Where(x => x.marksType == 7).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }

                                                                try
                                                                {
                                                                    marksDistinction = Model.listMarks.Where(x => x.marksType == 8).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }

                                                                if ((marksExperience ) > 20)
                                                                {
                                                                    marksExperience = 20;
                                                                }
                                                                else
                                                                {
                                                                    marksExperience = marksExperience;
                                                                }

                                                                try
                                                                {
                                                                    marksResearchPaper = Model.listMarks.Where(x => x.marksType == 9).FirstOrDefault().marksExpected;
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }
                                                            }

                                                        }
                                            <table style="margin-top: 5px; width: 100%; border:1px solid;" cellspacing="0">
                                                <tbody>
                                                    <tr style="font-weight:bold; text-align:center">
                                                        <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                            <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                Education (Degree Aggregate: @marksDegree)
                                                                <a class="ank spn-edit" href="/applicant-education">
                                                                    <i class="fa fa-pencil black"></i>  Edit
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 5px 0px;">
                                                            <p style="color: #000; font-size: 14px; margin: 0% 1%;">
                                                                Graducation Detail :
                                                                @if (info.countryIdDegreePassing == 132)
                                                                {
                                                                    if (degree.instituteTypeId == 1)
                                                                    {
                                                                        if (degree.instituteId == -1)
                                                                        {
                                                    <b> @degree.province : Government ( Other ) :</b> @degree.instituteName }
                                                else if (degree.instituteId > 0)
                                                {
                                                <b>@degree.province : Government</b> @degree.instituteName }
                                        }
                                        else
                                        {
                                                <b>@degree.province : Private : </b> @degree.instituteName }
                                        }
                                        else
                                        {
                                                <b> Foriegn University Graduate  :  </b> @degree.instituteName
                                                                <br />
                                                                                <div style="margin-left:20px;">
                                                                                    Foriegn Degree Front Image :   <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeForeignFront)" target="_blank" title="Click to view">
                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeForeignFront)" />
                                                                                    </a>
                                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                    Foriegn Degree Back Image :   <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeForeignBack)" target="_blank" title="Click to view">
                                                                                        <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeForeignBack)" />
                                                                                    </a>
                                                                                </div>}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 5px 0px;">
                                                            <table style="width:100%; float:left; margin:0px 10px;">
                                                                <tr>

                                                                    <td style="width:33%; float:left;">
                                                                        <span style="width:40%; float:left;">
                                                                            Certificate :
                                                                        </span>   <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageCertificate)" target="_blank" title="Click to view">
                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageCertificate)" />
                                                                        </a>
                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageCertificate)" target="_blank" title="Click to view">
                                                                            <span class="ank spn-img-view">View</span>
                                                                        </a>
                                                                    </td>
                                                                    <td style="width: 50%; float: left; display: none;">

                                                                        <span style="width:40%; float:left;">
                                                                            Matriculation :
                                                                        </span> <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeMatric)" target="_blank" title="Click to view">
                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeMatric)" />
                                                                        </a>
                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegreeMatric)" target="_blank" title="Click to view">
                                                                            <span class="ank spn-img-view">View</span>
                                                                        </a>
                                                                    </td>
                                                                    <td style="width:50%; float:left;">
                                                                        <span style="width:40%; float:left;">
                                                                            Graduation Degree (MBBS/BDS) :
                                                                        </span>
                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegree)" target="_blank" title="Click to view">
                                                                            <img class="imgView" src="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegree)" />
                                                                        </a>
                                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + degree.imageDegree)" target="_blank" title="Click to view">
                                                                            <span class="ank spn-img-view">View</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table style="margin-top: 5px; width: 100%;" cellspacing="0">
                                                                <tbody>
                                                                    <tr style="font-weight:bold; text-align:center">
                                                                        <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                                            <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                                Matriculation
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th style="font-weight:bold; text-align:center">Obtained Marks</th>
                                                                        <th style="font-weight:bold; text-align:center">Total Marks</th>
                                                                        <th style="font-weight:bold; text-align:center">Certificate</th>
                                                                    </tr>
                                                                    @foreach (var marks in Model.listCertificate.Where(i => i.typeId == 628)

.GroupBy(item => new { item.typeName, item.disciplineName, item.obtainMarks, item.totalMarks, item.passingDate })
.Select(item => item.First())
.Distinct())
                                                                    {
                                                        <tr>
                                                            @if (marks.typeId == 1 || marks.typeId == 5)
                                                            {
                                                <td>N/A</td>
                                                                    <td>N/A</td> }
                                                                                    else
                                                                                    {
                                                                    <td>@marks.obtainMarks</td>
                                                                                        <td>@marks.totalMarks</td>}
                                                            <td>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageCertificate)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <table style="margin-top: 5px; width: 100%;" cellspacing="0">
                                                                <tbody>
                                                                    <tr style="font-weight:bold; text-align:center">
                                                                        <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                                            <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                                FSc
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <th style="font-weight:bold; text-align:center">Obtained Marks</th>
                                                                        <th style="font-weight:bold; text-align:center">Total Marks</th>
                                                                        <th style="font-weight:bold; text-align:center">Certificate</th>
                                                                    </tr>
                                                                    @foreach (var marks in Model.listCertificate.Where(i => i.typeId == 382)

.GroupBy(item => new { item.typeName, item.disciplineName, item.obtainMarks, item.totalMarks, item.passingDate })
.Select(item => item.First())
.Distinct())
                                                                    {
                                                        <tr>
                                                            @if (marks.typeId == 1 || marks.typeId == 5)
                                                            {
                                                <td>N/A</td>
                                                                    <td>N/A</td> }
                                                                                    else
                                                                                    {
                                                                    <td>@marks.obtainMarks</td>
                                                                                        <td>@marks.totalMarks</td>}
                                                            <td>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                                    <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageCertificate)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                                                </a>
                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                                    <span class="ank spn-img-view">View</span>
                                                                </a>
                                                            </td>
                                                        </tr>}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>


                                                            @if (Model.applicantInfo.countryIdDegreePassing == 132 && Model.listDegreeMark != null && Model.listDegreeMark.Count > 0)
                                                            {
                                                                var listDegreeMark = Model.listDegreeMark.Where(x => x.inductionId == ProjConstant.inductionId).ToList();
                                                                if (listDegreeMark != null && listDegreeMark.Count > 0)
                                                                {

                                                <table border="1" style="font-size:14px; width: 98%; margin:0.5% 1%;" cellspacing="0">
                                                    <tbody>
                                                        <tr style="font-weight:bold; text-align:center">
                                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;" colspan="7">
                                                                <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                    Professsional Examination Detail
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr style="font-weight:bold; text-align:center">
                                                            <th style="font-weight:bold; text-align:center">Year</th>
                                                            <th style="font-weight:bold; text-align:center">Obtained Marks</th>
                                                            <th style="font-weight:bold; text-align:center">Total Marks</th>
                                                            <th style="font-weight:bold; text-align:center">Percentage</th>
                                                            <th>Attempts</th>
                                                            <th style="font-weight:bold; text-align:center">Certificates</th>

                                                        </tr>
                                                        @foreach (var marks in Model.listDegreeMark
                                                                                .GroupBy(item => new { item.year, item.obtainMarks, item.totalMarks, item.attempt })
                                                                                .Select(item => item.Last())
                                                                                .Distinct()
                                                                                .Where(x => x.inductionId == ProjConstant.inductionId).ToList())
                                                        {
                                                    <tr>
                                                        <td>@marks.year</td>
                                                        <td>@marks.obtainMarks</td>
                                                        <td>@marks.totalMarks</td>
                                                        <td>@((Convert.ToDouble(Convert.ToDouble(marks.obtainMarks)/ Convert.ToDouble(marks.totalMarks))*100).ToString("0.000000"))</td>
                                                        <td>@marks.attempt</td>
                                                        <td>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageDMC)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageDMC)" alt="@("DMC of " + marks.year)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                                            </a>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageDMC)" target="_blank" title="Click to view">
                                                                <span class="ank spn-img-view">View</span>
                                                            </a>
                                                        </td>


                                                    </tr>}
                                                    </tbody>
                                                </table>}
                                        }
                                                            @if (Model.applicantInfo.countryIdDegreePassing != 132 && Model.listDegreeMark != null && Model.listDegreeMark.Count > 0)
                                                            {
                                                <table border="1" style="font-size:14px; width: 98%; margin:0.5% 1%;" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;" colspan="5">
                                                                <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                    NEB Attempt Certified
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Year</th>
                                                            <th>Obtained Marks</th>
                                                            <th>Total Marks</th>
                                                            <th>Percentage</th>
                                                            <th>Attempts</th>
                                                            <th>Certificates</th>
                                                        </tr>
                                                        @foreach (var marks in Model.listDegreeMark
                                                                                .GroupBy(item => new { item.year, item.obtainMarks, item.totalMarks })
                                                                                .Select(item => item.Last())
                                                                                .Distinct()
                                                                                .Where(x => x.inductionId == ProjConstant.inductionId).ToList())
                                                        {
                                                    <tr>
                                                        <td>@marks.year</td>
                                                        <td>@marks.obtainMarks</td>
                                                        <td>@marks.totalMarks</td>
                                                        <td>@((Convert.ToDouble(Convert.ToDouble(marks.obtainMarks)/ Convert.ToDouble(marks.totalMarks))*100).ToString("0.000000"))</td>
                                                        <td>@marks.attempt</td>
                                                        <td>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageDMC)" target="_blank" title="Click to view">
                                                                <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageDMC)" alt="@("DMC of " + marks.year)" />
                                                            </a>
                                                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageDMC)" target="_blank" title="Click to view">
                                                                <span class="ank spn-img-view">View</span>
                                                            </a>
                                                        </td>
                                                    </tr>}
                                                    </tbody>
                                                </table>}
                                                        </td>
                                                    </tr>
                                                    @if (Model.listCertificate != null && Model.listCertificate.Count > 0)
                                                    {
                                                <tr>
                                                    <td>
                                                        <table style="margin-top: 5px; width: 100%;" cellspacing="0">
                                                            <tbody>
                                                                <tr style="font-weight:bold; text-align:center">
                                                                    <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                                        <p style="margin: 6px;color: #fff;font-size: 16px;">
                                                                            FCPS/MS/MD Certification Information
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <th style="font-weight:bold; text-align:center">Type</th>
                                                                    <th style="font-weight:bold; text-align:center">Discipline</th>
                                                                    <th style="font-weight:bold; text-align:center">Obtained Marks</th>
                                                                    <th style="font-weight:bold; text-align:center">Total Marks</th>
                                                                    <th style="font-weight:bold; text-align:center">Passing Date</th>
                                                                    <th style="font-weight:bold; text-align:center">Certificates</th>
                                                                </tr>
                                                                @foreach (var marks in Model.listCertificate
                                                                    .Where(i=>i.typeId < 382)
.GroupBy(item => new { item.typeName, item.disciplineName, item.obtainMarks, item.totalMarks, item.passingDate })
.Select(item => item.First())
.Distinct())
                                                                {
                                                <tr>
                                                    <td>@marks.typeName</td>
                                                    <td>@marks.disciplineName</td>
                                                    @if (marks.typeId == 1 || marks.typeId == 5)
                                                    {
                                                <td>N/A</td>
                                                                        <td>N/A</td> }
                                                                                            else
                                                                                            {
                                                                        <td>@marks.obtainMarks</td>
                                                                                                <td>@marks.totalMarks</td>}
                                                    <td>@marks.passingDate.ToString("dd MMM yyyy")</td>
                                                    <td>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                            <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.imageCertificate)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                                        </a>
                                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.imageCertificate)" target="_blank" title="Click to view">
                                                            <span class="ank spn-img-view">View</span>
                                                        </a>
                                                    </td>
                                                </tr>}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>}
                                                </tbody>
                                            </table> 
											if (info.countryId == 132)
                                                        {

                                            <table style="margin-top: 15px; width: 100%; border:1px solid;" cellspacing="0">
                                                <tbody>
                                                    <tr style="font-weight:bold; text-align:center">
                                                        <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                            <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                                House Job Information : ( Makrs are : @marksHouseJob.ToString("0.00") )
                                                                <a class="ank spn-edit" href="/applicant-exprience">
                                                                    <i class="fa fa-pencil black"></i>  Edit
                                                                </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    @if (Model.listJob != null && Model.listJob.Count > 0)
                                                    {
                                    <tr>
                                        <td>
                                            <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <th style="font-weight:bold; text-align:center">Province</th>
                                                        <th style="font-weight:bold; text-align:center">Category of Hospital</th>
                                                        <th style="font-weight:bold; text-align:center">Hospital of House Job</th>
                                                        <th title="Is Same Hospital Where Graduate" style="font-weight:bold; text-align:center">Is Same Hospital<br/> from where Graduated</th>
                                                        <th style="font-weight:bold; text-align:center">Start Date</th>
                                                        <th style="font-weight:bold; text-align:center">End Date</th>
                                                        <th style="font-weight:bold; text-align:center">Month</th>
                                                        <th style="font-weight:bold; text-align:center">Days</th>
                                                        <th style="font-weight:bold; text-align:center">Certificate</th>
                                                    </tr>
                                                    @foreach (var marks in Model.listJob)
                                                    {
                                <tr>
                                    <td>@marks.province</td>
                                    <td>@marks.typeName Hospital</td>
                                    <td>@marks.hospital</td>
                                    @if (marks.isSame)
                                    {
            <td>Yes</td> }
                                    else
                                    {
            <td>No</td>}
                                    <td>@marks.startDate.ToString("dd MMM yyyy")</td>
                                    <td>@marks.endDate.ToString("dd MMM yyyy")</td>
                                    <td>@marks.noOfMonth Month</td>
                                    <td>@marks.noOfDays Days</td>
                                    <td>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.image)" target="_blank" title="Click to view">
                                            <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + marks.image)" style="width: 30px; height: 20px; vertical-align: middle;" />
                                        </a>
                                        <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + marks.image)" target="_blank" title="Click to view">
                                            <span class="ank spn-img-view">View</span>
                                        </a>
                                    </td>
                                </tr>}
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>}

                                                </tbody>

                                            </table> }

                                            <table style="margin-top: 15px; width: 100%; border:1px solid;" cellspacing="0">
                                                <tbody>
                                                    <tr style="font-weight:bold; text-align:center">
                                                        <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                            @if (info.countryId == 132)
                                                            {
                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                    Work Experience ( @marksExperience.ToString("0.00"))
                                                    <a class="ank spn-edit" href="/applicant-exprience">
                                                        <i class="fa fa-pencil black"></i>  Edit
                                                    </a>
                                                </p>}
                                                        </td>
                                                    </tr>
                                                    @if (info.countryId == 132)
                                                    {
                                        <tr>
                                            <td>
                                                @if (Model.listExprince != null && Model.listExprince.Count > 0)
                                                {
                                                    var sr = 0;
                                <table border="1" style="font-size:14px; width: 100%; border-left:none; border-right:none;border-color:black" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th style="font-weight:bold; text-align:center">Sr.#</th>
                                            <th style="font-weight:bold; text-align:center">From</th>
                                            <th style="font-weight:bold; text-align:center">To</th>
                                            <th style="font-weight:bold; text-align:center">Duration</th>
                                            <th style="font-weight:bold; text-align:center">Institution Level</th>
                                            <th style="font-weight:bold; text-align:center">Institution Name</th>
                                            <th style="font-weight:bold; text-align:center">Province</th>
                                            <th style="font-weight:bold; text-align:center">Type of Employment</th>
                                            <th style="font-weight:bold; text-align:center">Certificate</th>
                                        </tr>
                                        @foreach (var exp in Model.listExprince)
                                        {
                                            sr = sr + 1;
                    <tr>
                        <td> @sr</td>

                        <td>@exp.startDated.ToString("dd MMM yyyy")</td>
                        <td>@exp.endDate.ToString("dd MMM yyyy")</td>
                        <td>@(exp.noOfMonth + " Month")</td>
                        <td>@exp.levelName</td>
                        <td>@exp.instituteName</td>
                        <td>@(exp.provinceName )</td>
                        <td>@(exp.typeName )</td>
                        <td>
                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + exp.imageExperience)" target="_blank" title="Click to view">
                                <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + exp.imageExperience)" alt="No Image" />
                            </a>
                            <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + exp.imageExperience)" target="_blank" title="Click to view">
                                <span class="ank spn-img-view">View</span>
                            </a>
                        </td>
                    </tr>}
                                    </tbody>
                                </table>}
                                            </td>
                                        </tr>}

                                                </tbody>
                                            </table>

                                                        
                                                                    if (Model.listSpecility != null && Model.listSpecility.Count > 0)
                                                                    {
                                                                        decimal marksType = 0;
                                                                        foreach (var typ in Model.listType)
                                                                        {
                                                                            var listSpecility = Model.listSpecility.Where(x => x.typeId == typ.id).ToList();
                                                                            if (listSpecility != null && listSpecility.Count > 0)
                                                                            {
                                                                                try
                                                                                {
                                                                                    marksType = listSpecility.Where(x => x.typeId == typ.id).FirstOrDefault().marksType;
                                                                                }
                                                                                catch (Exception)
                                                                                {
                                                                                }

                                                                                decimal MarksTotal = 0;
                                                        <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                                            <tbody>
                                                                <tr style="font-weight:bold; text-align:center">
                                                                    <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                                        <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                                            @typ.value Preference
                                                                            <a class="ank spn-edit" href="/applicant-speciality">
                                                                                <i class="fa fa-pencil black"></i>  Edit
                                                                            </a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                                                <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                                                    <thead> <tr>
																						<th style="font-weight:bold; text-align:center">Preference No.</th> 
																						<th style="font-weight:bold; text-align:center"> Specialty</th>
																						<th style="font-weight:bold; text-align:center"> Institution Applied In</th> 
																						<th style="font-weight:bold; text-align:center"> Institute Marks</th>  
																						<th style="font-weight:bold; text-align:center"> Total Marks</th>  
																					</tr></thead>
                                                                                    <tbody>
                                                                                        @foreach (var spc in listSpecility.OrderBy(x => x.preferenceNo))
                                                                                        {
                                                                                            MarksTotal = spc.marks + marksDegree + marksDistinction + marksDMC + marksHouseJob + marksType + marksExperience + marksResearchPaper;
                                                                <tr>
                                                                    <td>@spc.preferenceNo</td>
                                                                    <td>@spc.specialityName</td>
                                                                    <td>@spc.hospitalName</td>
                                                                    <td>@spc.marks.ToString("0.00")</td>
                                                                    <td>@MarksTotal </td>
                                                                </tr>}

                                                                                    </tbody>
                                                                                </table> }
                                                                                                }

                                                                                <fieldset>
                                                                                    <legend> Weightage Marks Claimed  </legend>

                                                                                    <h3 class="heading" style="font-size:16px">
                                                                                        As per information provided by applicant, provisional marks are allocated to applicant. It is, however, clarified that such provisional marks are subject to verification and confirmation by the Verification Committee. Only afterwards final marks shall be awarded to the applicant.
                                                                                    </h3>
                                                                                    @foreach (var typ in Model.listType)
                                                                                    {
                                                                                        var listSpecility = Model.listSpecility.Where(x => x.typeId == typ.id).ToList();
                                                                                        if (listSpecility != null && listSpecility.Count > 0)
                                                                                        {

                                                                                            try
                                                                                            {
                                                                                                marksType = listSpecility.Where(x => x.typeId == typ.id).FirstOrDefault().marksType;
                                                                                            }
                                                                                            catch (Exception)
                                                                                            {
                                                                                                marksType = 0;
                                                                                            }

                                                                                            decimal MarksTotal = marksDegree + marksDistinction + marksDMC + marksHouseJob + marksExperience + marksResearchPaper + marksType;

                                                                    <table style="width: 100%; margin-top:10px;" cellspacing="0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="top_detail" style="width: 49.5%; float: left;">
                                                                                    <span style="width:50%; float:left;">
                                                                                        @typ.value Weightage
                                                                                    </span>
                                                                                    <span style="width:50%; float:left;">
                                                                                        @marksType
                                                                                    </span>
                                                                                </td>
                                                                                <td class="top_detail" style="width: 49.5%; float: left;">
                                                                                    <span style="width:50%; float:left;">
                                                                                        @typ.value Aggregate
                                                                                    </span>
                                                                                    <span style="width:50%; float:left;">
                                                                                        @MarksTotal
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>}
                                                                                    }
                                                                                </fieldset> }
                                                                                <table style="margin-top: 15px; width: 100%;" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr style="font-weight:bold; text-align:center">
                                                                                            <td style="background-color: #8b8686; -webkit-print-color-adjust: exact;">
                                                                                                <p style="margin: 6px;color: #fff; font-size: 16px;">
                                                                                                    Payment Information
                                                                                                    <a class="ank spn-edit" href="/applicant-voucher">
                                                                                                        <i class="fa fa-pencil black"></i>  Edit
                                                                                                    </a>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table> if (Model.voucher != null && Model.voucher.applicantVoucherId > 0)
                                                                                            {
                                                                                                if (String.IsNullOrWhiteSpace(Model.voucher.voucherImage))
                                                                                                {
                                                                                <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                                                    <thead> <tr> 
																						<th style="font-weight:bold; text-align:center"> IBN </th> 
																						<th style="font-weight:bold; text-align:center"> Applicant A/C No </th> 
																						<th style="font-weight:bold; text-align:center"> Applicant A/C Title </th>
																						<th style="font-weight:bold; text-align:center"> Submitted Date </th>  
																						</tr></thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>@Model.voucher.ibn</td>
                                                                                            <td>@Model.voucher.accountNo</td>
                                                                                            <td>@Model.voucher.accountTitle</td>
                                                                                            <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table> }
                                                                                                else
                                                                                                {
                                                                                <table border="1" style="font-size:14px; width: 100%;" cellspacing="0">
                                                                                    <thead> <tr> 
																						<th style="font-weight:bold; text-align:center"> Branch Code </th>
																						<th style="font-weight:bold; text-align:center"> Submitted Date </th> 
																						<th style="font-weight:bold; text-align:center"> Image </th>  
																						</tr></thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>@Model.voucher.branchCode</td>
                                                                                            <td>@Model.voucher.submittedDate.ToString("dd MMM yyyy")</td>
                                                                                            <td>
                                                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                                                                    <img class="imgView" src="@("/images/Applicant/" + Model.applicant.applicantId + "/" + Model.voucher.voucherImage)" alt="No Image" />
                                                                                                </a>
                                                                                                <a class="ank" href="@("/images/Applicant/" + applicant.applicantId + "/" + Model.voucher.voucherImage)" target="_blank" title="Click to view">
                                                                                                    <span class="ank spn-img-view">View</span>
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table> }
                                                                                            } }
                            <table style="width: 100%;" cellspacing="0px">
                                <tbody>
                                    <tr style="float: left">
                                        <fieldset>
                                            <legend>
                                                <label class="checkbox-inline" for="chkConfirm">
                                                    <input type="checkbox" name="acknowledge" id="chkConfirm" value="1" required="required">
                                                    it is certified that information are correct.
                                                </label>
                                            </legend>
                                            <div class="row col-md-12  ">
                                                <div class="col-md-12">
                                                    <p>
                                                        1. As per information provided by applicant, provisional marks are allocated to applicant. It is however clarified that such provisional marks are subject to verification and confirmation by the verification committee only afterwards final marks shall be awarded to the applicant.<br />
                                                        2. I, @Model.applicant.name, declare that, the entries made by me in the Application Form are complete and true to the best of my knowledge and based on records.<br />
                                                        3. I am solely responsible for providing any of incorrect information supplied in the application form for registration.<br />
                                                        4. If any information submitted found wrong, mismatched or forged the application will be rejected and training if started will be discontinued with no right of appeal at institution / government level.<br />
                                                        5.<span style="color:#ff0000; font-size:14px;"><b> I will be liable to disciplinary action if any of the document(s) uploaded/attached/submitted by me is/are found fake/forged.</b></span><br />
                                                        @*5.<span style="color:#ff0000; font-size:14px;"><b>Important Note: Please ensure the correctness of information before Accept and Submit. Once submitted the information cannot be edited / changed.</b></span>*@
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a id="ankSubmit" class="btn btn-lg btn-red mb10 pull-right">&nbsp;<i class="fa fa-save"></i> &nbsp; Accept &amp; Submit </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

